# Project 2: Market-basket analysis - IMDB dataset

Project for the course of Algorithms for Massive Dataset <br> Nicolas Facchinetti 961648 <br> Antonio Belotti 960822

# Set up the Spark enviorment

We start by dowloading and installing all the needed tool to deal with Spark. In particular we are interested in obtainig a Java enviorment since Spark in written in Scala and so it need a JVM to run. Then we can download Apache Spark 3.1.2 with Hadoop 3.2 by the Apache CDN and uncompress it. Finally we can get and install PySpark, an interface for Apache Spark in Python

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget https://dlcdn.apache.org/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz
!tar xf spark-3.1.2-bin-hadoop3.2.tgz
!pip install -q findspark

--2021-09-01 14:53:13--  https://dlcdn.apache.org/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz
Resolving dlcdn.apache.org (dlcdn.apache.org)... 151.101.2.132, 2a04:4e42::644
Connecting to dlcdn.apache.org (dlcdn.apache.org)|151.101.2.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 228834641 (218M) [application/x-gzip]
Saving to: ‘spark-3.1.2-bin-hadoop3.2.tgz’

spark-3.1.2-bin-had 100%[===================>] 218.23M   123MB/s    in 1.8s

2021-09-01 14:53:15 (123 MB/s) - ‘spark-3.1.2-bin-hadoop3.2.tgz’ saved [228834641/228834641]

The next step is to correctly set the path in our remote enviorment to use the obtained tools.

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop3.2"

Finally we can import PySpark in the project

In [3]:
import findspark
findspark.init("spark-3.1.2-bin-hadoop3.2")# SPARK_HOME
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

# Download the dataset from Kaggle

First install the Python module of Kaggle to download the dataset from its datacenter

In [4]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.5.30)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

Then load kaggle.json, a file containing your API credentials to be able to use the services offered by Kaggle

In [5]:
from google.colab import files

uploaded = files.upload()
  
# Move kaggle.json into the folder where the API expects to find it.
!mkdir -p ~/.kaggle/ && mv kaggle.json ~/.kaggle/ && chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json

Now we can download the dataset

In [6]:
!kaggle datasets download 'ashirwadsangwan/imdb-dataset'

Downloading imdb-dataset.zip to /content
100% 1.44G/1.44G [00:13<00:00, 116MB/s]
100% 1.44G/1.44G [00:13<00:00, 112MB/s]

We now must unzip the compressed archive to use it. Once done we can also remove it.

In [7]:
!unzip imdb-dataset.zip && rm imdb-dataset.zip

Archive:  imdb-dataset.zip
  inflating: name.basics.tsv.gz
  inflating: name.basics.tsv/name.basics.tsv
  inflating: title.akas.tsv.gz
  inflating: title.akas.tsv/title.akas.tsv
  inflating: title.basics.tsv.gz
  inflating: title.basics.tsv/title.basics.tsv
  inflating: title.principals.tsv.gz
  inflating: title.principals.tsv/title.principals.tsv
  inflating: title.ratings.tsv.gz
  inflating: title.ratings.tsv/title.ratings.tsv

# Preapare the data for Spark

We can directly load the downloaded and extracted .tsv file in a Spark DataFrame by using the command read.csv(). We directly pass to the method the columns in which we are interested.

In [8]:
df_principals = spark.read.csv("/content/title.principals.tsv/title.principals.tsv", sep=r'\t', header=True).select('tconst','nconst','category')
df_principals.show(10)

+---------+---------+---------------+
|   tconst|   nconst|       category|
+---------+---------+---------------+
|tt0000001|nm1588970|           self|
|tt0000001|nm0005690|       director|
|tt0000001|nm0374658|cinematographer|
|tt0000002|nm0721526|       director|
|tt0000002|nm1335271|       composer|
|tt0000003|nm0721526|       director|
|tt0000003|nm5442194|       producer|
|tt0000003|nm1335271|       composer|
|tt0000003|nm5442200|         editor|
|tt0000004|nm0721526|       director|
+---------+---------+---------------+
only showing top 10 rows

In [9]:
df_basics = spark.read.csv("/content/title.basics.tsv/title.basics.tsv", sep=r'\t', header=True).select('tconst','titleType')
df_basics.show(10)

+---------+---------+
|   tconst|titleType|
+---------+---------+
|tt0000001|    short|
|tt0000002|    short|
|tt0000003|    short|
|tt0000004|    short|
|tt0000005|    short|
|tt0000006|    short|
|tt0000007|    short|
|tt0000008|    short|
|tt0000009|    movie|
|tt0000010|    short|
+---------+---------+
only showing top 10 rows

By inspecting the content of the column 'category' of df_principlas we can see that there are many jobs other than actors and actress (which are the two we are interested in)

In [ ]:
df_principals.select("category").distinct().show()

+-------------------+
|           category|
+-------------------+
|            actress|
|           producer|
|             writer|
|           composer|
|           director|
|               self|
|              actor|
|             editor|
|    cinematographer|
|      archive_sound|
|production_designer|
|    archive_footage|
+-------------------+

Similarly we can do the same thing with df_basics and the column 'titleType' to see how many categories a title can have.

In [ ]:
df_basics.select("titleType").distinct().show()

+------------+
|   titleType|
+------------+
|    tvSeries|
|tvMiniSeries|
|     tvMovie|
|   tvEpisode|
|       movie|
|   tvSpecial|
|       video|
|   videoGame|
|     tvShort|
|       short|
+------------+

Once the data is loaded in a Spark DataFrame we can use the PySpark SQL module for processing the data. We start by exctracting only actors and actress from df_principals

In [10]:
pre = df_principals.count()
df_principals.createOrReplaceTempView("PRINCIPALS") # create a temporary table on DataFrame
df_principals = spark.sql("SELECT * from PRINCIPALS WHERE category ='actor' OR category='actress'")
print("We reduced the number of row from {} to {}".format(pre, df_principals.count()))

We reduced the number of row from 36468817 to 14818798

 And then we do the same thing with movies in df_basics

In [11]:
pre = df_basics.count()
df_basics.createOrReplaceTempView("BASICS") # create a temporary table on DataFrame
df_basics = spark.sql("SELECT * from BASICS WHERE titleType ='movie'")
print("We reduced the number of row from {} to {}".format(pre, df_basics.count()))

We reduced the number of row from 6321302 to 536034

We can now see that we have two DataFrame, one containing only the movies and the other only the people which play as actor/actress in a title. To do the desired maket-basket analysis we have to pivot our tconst as rows, so each row stands for one titleId, and then including a list of nconst identifiers of the actors that played in it.

In [ ]:
df_basics.show(10)

+---------+---------+
|   tconst|titleType|
+---------+---------+
|tt0000009|    movie|
|tt0000147|    movie|
|tt0000335|    movie|
|tt0000502|    movie|
|tt0000574|    movie|
|tt0000615|    movie|
|tt0000630|    movie|
|tt0000675|    movie|
|tt0000676|    movie|
|tt0000679|    movie|
+---------+---------+
only showing top 10 rows

In [ ]:
df_principals.show(10)

+---------+---------+--------+
|   tconst|   nconst|category|
+---------+---------+--------+
|tt0000005|nm0443482|   actor|
|tt0000005|nm0653042|   actor|
|tt0000007|nm0179163|   actor|
|tt0000007|nm0183947|   actor|
|tt0000008|nm0653028|   actor|
|tt0000009|nm0063086| actress|
|tt0000009|nm0183823|   actor|
|tt0000009|nm1309758|   actor|
|tt0000011|nm3692297|   actor|
|tt0000014|nm0166380|   actor|
+---------+---------+--------+
only showing top 10 rows

So we start by joining the two dataframe to extract from df_principals only the records with tconst related to a movie. We can also discard the category column since is no longer usefull.

In [12]:
basket_data = df_principals.join(df_basics, "tconst").select(df_principals.tconst, df_principals.nconst).sort("tconst")

In [ ]:
basket_data.show(10)

+---------+---------+
|   tconst|   nconst|
+---------+---------+
|tt0000009|nm0183823|
|tt0000009|nm1309758|
|tt0000009|nm0063086|
|tt0000335|nm0675239|
|tt0000335|nm1010955|
|tt0000335|nm0675260|
|tt0000335|nm1012612|
|tt0000335|nm1012621|
|tt0000335|nm1011210|
|tt0000502|nm0215752|
+---------+---------+
only showing top 10 rows

Then we can remove hypothetical duplicated row and then aggregate the data using tconst identifier.

In [13]:
from pyspark.sql import functions as F
basket_data = basket_data.dropDuplicates()
basket_data = basket_data.groupBy("tconst").agg(F.collect_list("nconst").alias("nconsts")).sort('tconst')

In [ ]:
print("There are {} titleId buckets".format(basket_data.count()))
basket_data.show(10, False)

There are 393656 titleId buckets
+---------+------------------------------------------------------------------+
|tconst   |nconsts                                                           |
+---------+------------------------------------------------------------------+
|tt0000009|[nm0063086, nm0183823, nm1309758]                                 |
|tt0000335|[nm1010955, nm1012612, nm1011210, nm1012621, nm0675239, nm0675260]|
|tt0000502|[nm0215752, nm0252720]                                            |
|tt0000574|[nm0846887, nm0846894, nm3002376, nm0170118]                      |
|tt0000615|[nm3071427, nm0581353, nm0888988, nm0240418, nm0346387, nm0218953]|
|tt0000630|[nm0624446]                                                       |
|tt0000676|[nm0097421, nm0140054]                                            |
|tt0000679|[nm0000875, nm0122665, nm0933446, nm2924919]                      |
|tt0000793|[nm0691995]                                                       |
|tt0000862|[nm5289318, nm5289829, nm0264569, nm0386036, nm0511080, nm5188470]|
+---------+------------------------------------------------------------------+
only showing top 10 rows

As we can see above we now have the data in the correct format to do our analysis: in each row we have the identifier of a movie and in the second column the list of the idenfiers of the actors that played in it.
Since we done all the needed pre-processing computation on the data we can transform our DataFrame in a RDD to apply map-reduce functions.

In [20]:
data = basket_data.rdd
data.collect()

[Row(tconst='tt0000009', nconsts=['nm0063086', 'nm0183823', 'nm1309758']),
 Row(tconst='tt0000335', nconsts=['nm1010955', 'nm1012612', 'nm1011210', 'nm1012621', 'nm0675239', 'nm0675260']),
 Row(tconst='tt0000502', nconsts=['nm0215752', 'nm0252720']),
 Row(tconst='tt0000574', nconsts=['nm0846887', 'nm0846894', 'nm3002376', 'nm0170118']),
 Row(tconst='tt0000615', nconsts=['nm3071427', 'nm0581353', 'nm0888988', 'nm0240418', 'nm0346387', 'nm0218953']),
 Row(tconst='tt0000630', nconsts=['nm0624446']),
 Row(tconst='tt0000676', nconsts=['nm0097421', 'nm0140054']),
 Row(tconst='tt0000679', nconsts=['nm0000875', 'nm0122665', 'nm0933446', 'nm2924919']),
 Row(tconst='tt0000793', nconsts=['nm0691995']),
 Row(tconst='tt0000862', nconsts=['nm5289318', 'nm5289829', 'nm0264569', 'nm0386036', 'nm0511080', 'nm5188470']),
 Row(tconst='tt0000886', nconsts=['nm0609814']),
 Row(tconst='tt0000891', nconsts=['nm0727622', 'nm0814379']),
 Row(tconst='tt0000941', nconsts=['nm0034453', 'nm0140054', 'nm0243918', 'nm0294022']),
 Row(tconst='tt0000947', nconsts=['nm0488932', 'nm0814379']),
 Row(tconst='tt0000992', nconsts=['nm0119164']),
 Row(tconst='tt0001049', nconsts=['nm1834127', 'nm0104856', 'nm0251436', 'nm0280746', 'nm0526190', 'nm5188470', 'nm5217890', 'nm0762935']),
 Row(tconst='tt0001101', nconsts=['nm0923594']),
 Row(tconst='tt0001112', nconsts=['nm0135493', 'nm0143332']),
 Row(tconst='tt0001115', nconsts=['nm0630641', 'nm0064953', 'nm0085066', 'nm0169878', 'nm0299757', 'nm1834296', 'nm0539049', 'nm0627140']),
 Row(tconst='tt0001116', nconsts=['nm0736379', 'nm0064953', 'nm0085066', 'nm0169878', 'nm0299757', 'nm0306604', 'nm0539049', 'nm0627140', 'nm0630641']),
 Row(tconst='tt0001122', nconsts=['nm0154988', 'nm0167461', 'nm0756543', 'nm0941542']),
 Row(tconst='tt0001159', nconsts=['nm0597995']),
 Row(tconst='tt0001175', nconsts=['nm0076800', 'nm0854414', 'nm0135053', 'nm0363465']),
 Row(tconst='tt0001184', nconsts=['nm0699807', 'nm0735618']),
 Row(tconst='tt0001186', nconsts=['nm0601556']),
 Row(tconst='tt0001230', nconsts=['nm0002503']),
 Row(tconst='tt0001240', nconsts=['nm1266474', 'nm0627274', 'nm0381005', 'nm0478475', 'nm0762935', 'nm1267460', 'nm1266292', 'nm0742120']),
 Row(tconst='tt0001258', nconsts=['nm2528881', 'nm1993094', 'nm1458507', 'nm2112876', 'nm0421945', 'nm0478475', 'nm1459190', 'nm1833881']),
 Row(tconst='tt0001277', nconsts=['nm0169878', 'nm0299757', 'nm0736379', 'nm0772788']),
 Row(tconst='tt0001285', nconsts=['nm0366742', 'nm0037789', 'nm0401967', 'nm0448682', 'nm0832458']),
 Row(tconst='tt0001341', nconsts=['nm1024681', 'nm0782422', 'nm0295457', 'nm0218175', 'nm0952034', 'nm0468351']),
 Row(tconst='tt0001358', nconsts=['nm5227562', 'nm5665880', 'nm1159832', 'nm0234670']),
 Row(tconst='tt0001370', nconsts=['nm0764002', 'nm0105501', 'nm0896618']),
 Row(tconst='tt0001381', nconsts=['nm0927690', 'nm2547818', 'nm0511155', 'nm0526189', 'nm2434920', 'nm1261170', 'nm5223669', 'nm0835591']),
 Row(tconst='tt0001422', nconsts=['nm0001908']),
 Row(tconst='tt0001440', nconsts=['nm0539049', 'nm0064953', 'nm0085066', 'nm1434907', 'nm0169878', 'nm0299757', 'nm0332028']),
 Row(tconst='tt0001475', nconsts=['nm0836458', 'nm1616439', 'nm1617025', 'nm1714653']),
 Row(tconst='tt0001482', nconsts=['nm0524306', 'nm0568282', 'nm0287792']),
 Row(tconst='tt0001498', nconsts=['nm0095809', 'nm0697944', 'nm0330280', 'nm0644728', 'nm0768187', 'nm1372000']),
 Row(tconst='tt0001521', nconsts=['nm0227602', 'nm0630927', 'nm3068222']),
 Row(tconst='tt0001530', nconsts=['nm0738202', 'nm0198972', 'nm0519315', 'nm0528022']),
 Row(tconst='tt0001531', nconsts=['nm0198972', 'nm0528022', 'nm0627427', 'nm0738202', 'nm0909492']),
 Row(tconst='tt0001569', nconsts=['nm0681933']),
 Row(tconst='tt0001586', nconsts=['nm0681933']),
 Row(tconst='tt0001592', nconsts=['nm0927690', 'nm1458590', 'nm0478475', 'nm1532213', 'nm0647719', 'nm0676978', 'nm0690702', 'nm0740463']),
 Row(tconst='tt0001602', nconsts=['nm0728158', 'nm0136241', 'nm0216941', 'nm0239263', 'nm0260771', 'nm0312146', 'nm0328322']),
 Row(tconst='tt0001603', nconsts=['nm5239890', 'nm5239866', 'nm0227602', 'nm0511223', 'nm0512539', 'nm0583207', 'nm5239860', 'nm0927374']),
 Row(tconst='tt0001604', nconsts=['nm0528022', 'nm0030667', 'nm0163519', 'nm0181848', 'nm0254852', 'nm0272340', 'nm0328760', 'nm0376556']),
 Row(tconst='tt0001628', nconsts=['nm0848232']),
 Row(tconst='tt0001630', nconsts=['nm0631025', 'nm0003425', 'nm0585785', 'nm1270556', 'nm0707778', 'nm0166547', 'nm1495634', 'nm0473134']),
 Row(tconst='tt0001692', nconsts=['nm0003425', 'nm0282348', 'nm0016799', 'nm0643138', 'nm1270556']),
 Row(tconst='tt0001706', nconsts=['nm0001908', 'nm0138771', 'nm0865178', 'nm0693055', 'nm0639631', 'nm0533615']),
 Row(tconst='tt0001711', nconsts=['nm0009872', 'nm0002161', 'nm0166433', 'nm0179557', 'nm0723801', 'nm1356916']),
 Row(tconst='tt0001712', nconsts=['nm0054884']),
 Row(tconst='tt0001731', nconsts=['nm0198972', 'nm0519315', 'nm0528022']),
 Row(tconst='tt0001756', nconsts=['nm0034454', 'nm0034548', 'nm0679170', 'nm0688764']),
 Row(tconst='tt0001790', nconsts=['nm0470307', 'nm0959921', 'nm0893346', 'nm0592965']),
 Row(tconst='tt0001812', nconsts=['nm0207207', 'nm0294276']),
 Row(tconst='tt0001826', nconsts=['nm0511729', 'nm0002001']),
 Row(tconst='tt0001889', nconsts=['nm0143865', 'nm0159725', 'nm0483943', 'nm0539045', 'nm2542283', 'nm0772797']),
 Row(tconst='tt0001892', nconsts=['nm2325688', 'nm0003425', 'nm0699637', 'nm0375839', 'nm0016799', 'nm0282348']),
 Row(tconst='tt0001911', nconsts=['nm0829692', 'nm0627427', 'nm0492661', 'nm0167411']),
 Row(tconst='tt0001914', nconsts=['nm0003425', 'nm0917744', 'nm0016799', 'nm0783027', 'nm0937377', 'nm9507151']),
 Row(tconst='tt0001964', nconsts=['nm0932878', 'nm0003425', 'nm0643138', 'nm0883519', 'nm0016799', 'nm0666749']),
 Row(tconst='tt0001992', nconsts=['nm0691995']),
 Row(tconst='tt0002022', nconsts=['nm0538779', 'nm0789401']),
 Row(tconst='tt0002026', nconsts=['nm0115982', 'nm0418086', 'nm0027708', 'nm0526167', 'nm0959066', 'nm0064944', 'nm0348052', 'nm0959065']),
 Row(tconst='tt0002031', nconsts=['nm0007221', 'nm0169078', 'nm0857302', 'nm0850033']),
 Row(tconst='tt0002060', nconsts=['nm0126594', 'nm0434130', 'nm1046841']),
 Row(tconst='tt0002088', nconsts=['nm1760538', 'nm2139851', 'nm1553125']),
 Row(tconst='tt0002101', nconsts=['nm0906610', 'nm0306947', 'nm0801774', 'nm0276160', 'nm0733482', 'nm0182557', 'nm1950505', 'nm0397513']),
 Row(tconst='tt0002119', nconsts=['nm0898366']),
 Row(tconst='tt0002130', nconsts=['nm0660139', 'nm0685283', 'nm0209738', 'nm3942815']),
 Row(tconst='tt0002140', nconsts=['nm0898366']),
 Row(tconst='tt0002152', nconsts=['nm2543207', 'nm0624652']),
 Row(tconst='tt0002153', nconsts=['nm0699637', 'nm0159779', 'nm0381005', 'nm0385541', 'nm0414716', 'nm1069712', 'nm1266474', 'nm0647719']),
 Row(tconst='tt0002156', nconsts=['nm0684029']),
 Row(tconst='tt0002157', nconsts=['nm0488932', 'nm0872326', 'nm0775568', 'nm0903955']),
 Row(tconst='tt0002163', nconsts=['nm0691995', 'nm0509573', 'nm0549989', 'nm0723801']),
 Row(tconst='tt0002186', nconsts=['nm0517327', 'nm0653174', 'nm0653149', 'nm0064949', 'nm1925034', 'nm0421656', 'nm1923782']),
 Row(tconst='tt0002199', nconsts=['nm0446092', 'nm0087381', 'nm0245769', 'nm0310155', 'nm0391220', 'nm0605017', 'nm0014707', 'nm0897085']),
 Row(tconst='tt0002211', nconsts=['nm0699637', 'nm0116796', 'nm1531372', 'nm2529677', 'nm0385541', 'nm0491498', 'nm2528881', 'nm1069712']),
 Row(tconst='tt0002220', nconsts=['nm0681933']),
 Row(tconst='tt0002262', nconsts=['nm0858286', 'nm0869559']),
 Row(tconst='tt0002328', nconsts=['nm0294276', 'nm0576791']),
 Row(tconst='tt0002329', nconsts=['nm3501535', 'nm0813922', 'nm3524487', 'nm0895382', 'nm2099703', 'nm0010373']),
 Row(tconst='tt0002333', nconsts=['nm0003425', 'nm0375704', 'nm0121549', 'nm1495193', 'nm1493781', 'nm1493129', 'nm0016799']),
 Row(tconst='tt0002335', nconsts=['nm0515860', 'nm0897953']),
 Row(tconst='tt0002337', nconsts=['nm0124279', 'nm0913341']),
 Row(tconst='tt0002348', nconsts=['nm0216031', 'nm1152083', 'nm0691995', 'nm0723801']),
 Row(tconst='tt0002361', nconsts=['nm0447168', 'nm0058020', 'nm0198549', 'nm0328760', 'nm0377987', 'nm0397639', 'nm0431898']),
 Row(tconst='tt0002375', nconsts=['nm0135053', 'nm0180078', 'nm0503415', 'nm0578805', 'nm0959921']),
 Row(tconst='tt0002395', nconsts=['nm0304098', 'nm0858286', 'nm0869559']),
 Row(tconst='tt0002405', nconsts=['nm0514281', 'nm0329522', 'nm0122918', 'nm0736778', 'nm0553290', 'nm0603650', 'nm0571760', 'nm0713815']),
 Row(tconst='tt0002406', nconsts=['nm1361626', 'nm0587610', 'nm0573033', 'nm0747454', 'nm0851953', 'nm0606530', 'nm1360649']),
 Row(tconst='tt0002410', nconsts=['nm0294276']),
 Row(tconst='tt0002423', nconsts=['nm0624470', 'nm0417837', 'nm0509573', 'nm0903235']),
 Row(tconst='tt0002445', nconsts=['nm0637019', 'nm0784988', 'nm0146335', 'nm0146331']),
 Row(tconst='tt0002446', nconsts=['nm0069295']),
 Row(tconst='tt0002452', nconsts=['nm0218404', 'nm2386325', 'nm0636620', 'nm1995281']),
 Row(tconst='tt0002459', nconsts=['nm0001908', 'nm0782962', 'nm0090204', 'nm0090205']),
 Row(tconst='tt0002461', nconsts=['nm0312600', 'nm0911963', 'nm0306817', 'nm0443857']),
 Row(tconst='tt0002467', nconsts=['nm0294276', 'nm0576791']),
 Row(tconst='tt0002474', nconsts=['nm1053222', 'nm1824687', 'nm0781361', 'nm2727220', 'nm1059690', 'nm2725710']),
 Row(tconst='tt0002483', nconsts=['nm0516974', 'nm0169088', 'nm0358164', 'nm0792727', 'nm0822801', 'nm0334873', 'nm0583645']),
 Row(tconst='tt0002491', nconsts=['nm0898366']),
 Row(tconst='tt0002514', nconsts=['nm0064949', 'nm0803705', 'nm0252476', 'nm9324389', 'nm0634865']),
 Row(tconst='tt0002525', nconsts=['nm0328760', 'nm0167394', 'nm0183005', 'nm0191828', 'nm0198549', 'nm0282367', 'nm0313055']),
 Row(tconst='tt0002540', nconsts=['nm0091386', 'nm0119164', 'nm0159779', 'nm0296178', 'nm0381005', 'nm0699637']),
 Row(tconst='tt0002555', nconsts=['nm0638929', 'nm0862278', 'nm0091058', 'nm2365973']),
 Row(tconst='tt0002556', nconsts=['nm0414716', 'nm0077946', 'nm0082349', 'nm0091386', 'nm0159779', 'nm0227602', 'nm2112876']),
 Row(tconst='tt0002559', nconsts=['nm0282348', 'nm1493781']),
 Row(tconst='tt0002572', nconsts=['nm0003425', 'nm0917744', 'nm1268667', 'nm0664342', 'nm0016799']),
 Row(tconst='tt0002590', nconsts=['nm0003425', 'nm0082178', 'nm0643302', 'nm0016799', 'nm0917744']),
 Row(tconst='tt0002591', nconsts=['nm0029806', 'nm0509573']),
 Row(tconst='tt0002594', nconsts=['nm0033732', 'nm0528022', 'nm0377987', 'nm0661995', 'nm0445274', 'nm0898366', 'nm0057491', 'nm0912686']),
 Row(tconst='tt0002595', nconsts=['nm0074186', 'nm0082178', 'nm0783027']),
 Row(tconst='tt0002602', nconsts=['nm1267460', 'nm0539049', 'nm0298614']),
 Row(tconst='tt0002605', nconsts=['nm0764346', 'nm0931031', 'nm0165134', 'nm0139356', 'nm0571186']),
 Row(tconst='tt0002625', nconsts=['nm0679170', 'nm0012481', 'nm0140054', 'nm0243918', 'nm0261907', 'nm0314025', 'nm0482894']),
 Row(tconst='tt0002628', nconsts=['nm0060168', 'nm0361518', 'nm0726020', 'nm0919225']),
 Row(tconst='tt0002637', nconsts=['nm0794096', 'nm0110838', 'nm0778996', 'nm0437312', 'nm0174720', 'nm0138272', 'nm0086816', 'nm0103130']),
 Row(tconst='tt0002642', nconsts=['nm1437421', 'nm0021224', 'nm0159780', 'nm1464071', 'nm5235064', 'nm0499674', 'nm1981297']),
 Row(tconst='tt0002646', nconsts=['nm0299761', 'nm0650120', 'nm0860895', 'nm0491498']),
 Row(tconst='tt0002648', nconsts=['nm0239982', 'nm0596218', 'nm0477996', 'nm0074186', 'nm0917467', 'nm0016799', 'nm2543208']),
 Row(tconst='tt0002649', nconsts=['nm0366585', 'nm0528022', 'nm0642621', 'nm0680399']),
 Row(tconst='tt0002669', nconsts=['nm0533102', 'nm0249400', 'nm0514517', 'nm0454870']),
 Row(tconst='tt0002670', nconsts=['nm0862751', 'nm0408429', 'nm0921945', 'nm0238338', 'nm0642051', 'nm0428013', 'nm0806960']),
 Row(tconst='tt0002676', nconsts=['nm3844136']),
 Row(tconst='tt0002678', nconsts=['nm0505354', 'nm0292407', 'nm0926280', 'nm0642190', 'nm0122697']),
 Row(tconst='tt0002679', nconsts=['nm0135421', 'nm1887019', 'nm1263330', 'nm0723236']),
 Row(tconst='tt0002685', nconsts=['nm0022011', 'nm0252476', 'nm0526234', 'nm0803705', 'nm0923198']),
 Row(tconst='tt0002725', nconsts=['nm0337033']),
 Row(tconst='tt0002727', nconsts=['nm0375839', 'nm0669895', 'nm0234670']),
 Row(tconst='tt0002735', nconsts=['nm0528678', 'nm0746008', 'nm0037124']),
 Row(tconst='tt0002736', nconsts=['nm0400218', 'nm0681933', 'nm0601698', 'nm0874139', 'nm0186409', 'nm0330280', 'nm0908379']),
 Row(tconst='tt0002739', nconsts=['nm0352120', 'nm0697512', 'nm0746342', 'nm0798429']),
 Row(tconst='tt0002743', nconsts=['nm0069354', 'nm0282725', 'nm0303023', 'nm0535118']),
 Row(tconst='tt0002746', nconsts=['nm0743885', 'nm0716415', 'nm0794096', 'nm0479034']),
 Row(tconst='tt0002748', nconsts=['nm0228724', 'nm0768187', 'nm0676473', 'nm0269265']),
 Row(tconst='tt0002767', nconsts=['nm0642189', 'nm0642042', 'nm0534259']),
 Row(tconst='tt0002771', nconsts=['nm0558236']),
 Row(tconst='tt0002772', nconsts=['nm0392059', 'nm0356706', 'nm0420292', 'nm0871374', 'nm0394182', 'nm0780061', 'nm0621891']),
 Row(tconst='tt0002785', nconsts=['nm0299674', 'nm1979952', 'nm0677561', 'nm9216151', 'nm0688787', 'nm0746008']),
 Row(tconst='tt0002798', nconsts=['nm0299674', 'nm1979952', 'nm0677561', 'nm9216151', 'nm0688787', 'nm0746008', 'nm1579564']),
 Row(tconst='tt0002801', nconsts=['nm0561905', 'nm0226387', 'nm0220672', 'nm0188632', 'nm0216535', 'nm0246358', 'nm0405680', 'nm0499128']),
 Row(tconst='tt0002820', nconsts=['nm0608051', 'nm0287085', 'nm0666835', 'nm0604658', 'nm0211667']),
 Row(tconst='tt0002822', nconsts=['nm1889693', 'nm0422465', 'nm0377832']),
 Row(tconst='tt0002823', nconsts=['nm0491134', 'nm0519765', 'nm0585785']),
 Row(tconst='tt0002831', nconsts=['nm0621051', 'nm0029253', 'nm1333564']),
 Row(tconst='tt0002832', nconsts=['nm0528151', 'nm0137403', 'nm0838052', 'nm0607074', 'nm0360373']),
 Row(tconst='tt0002833', nconsts=['nm0585785', 'nm0074186', 'nm2828208', 'nm0170183', 'nm0239982', 'nm1892090', 'nm0477996']),
 Row(tconst='tt0002844', nconsts=['nm0622772', 'nm0107631', 'nm0577476', 'nm0137288']),
 Row(tconst='tt0002859', nconsts=['nm0319498', 'nm0440059', 'nm0842015', 'nm0505354', 'nm0668116', 'nm0642190']),
 Row(tconst='tt0002883', nconsts=['nm1336964']),
 Row(tconst='tt0002885', nconsts=['nm0755331', 'nm0191890', 'nm0201679', 'nm0204584', 'nm0254556', 'nm7424995', 'nm7424999', 'nm0516166', 'nm0520957']),
 Row(tconst='tt0002888', nconsts=['nm0674398', 'nm3885009', 'nm0535522', 'nm0957985']),
 Row(tconst='tt0002889', nconsts=['nm0677561', 'nm0243614', 'nm0746008', 'nm0332182', 'nm0217606', 'nm0299674', 'nm1979952']),
 Row(tconst='tt0002898', nconsts=['nm0617787', 'nm0415241', 'nm0470307', 'nm0843294']),
 Row(tconst='tt0002901', nconsts=['nm0883898', 'nm0604679', 'nm1919060', 'nm1922846', 'nm3664514']),
 Row(tconst='tt0002916', nconsts=['nm0017629', 'nm0691995', 'nm1945570', 'nm0956272', 'nm0956274']),
 Row(tconst='tt0002917', nconsts=['nm0253307', 'nm0073906', 'nm0096783', 'nm0251622', 'nm0252476']),
 Row(tconst='tt0002922', nconsts=['nm0722502', 'nm0727615', 'nm0285425', 'nm0177548', 'nm0055630', 'nm0779936']),
 Row(tconst='tt0002958', nconsts=['nm0850688']),
 Row(tconst='tt0002975', nconsts=['nm0133684', 'nm0350759', 'nm0498833', 'nm0557182', 'nm1332578', 'nm0869559', 'nm0906197']),
 Row(tconst='tt0002978', nconsts=['nm0366609', 'nm0057482', 'nm0330280', 'nm0835871', 'nm0358677']),
 Row(tconst='tt0002981', nconsts=['nm0768187', 'nm0676473', 'nm0247305', 'nm0150269']),
 Row(tconst='tt0002987', nconsts=['nm0789401', 'nm0848483', 'nm0882643', 'nm0946238']),
 Row(tconst='tt0002996', nconsts=['nm0617242', 'nm1090550', 'nm4116987', 'nm0844227']),
 Row(tconst='tt0003002', nconsts=['nm0296083', 'nm2558325', 'nm1267460', 'nm0079813', 'nm5087284', 'nm0478475', 'nm0159886', 'nm0927374']),
 Row(tconst='tt0003006', nconsts=['nm0608971', 'nm0681933', 'nm0908390', 'nm0676473', 'nm0376442']),
 Row(tconst='tt0003008', nconsts=['nm0392059', 'nm0728289', 'nm0172241', 'nm0394182']),
 Row(tconst='tt0003014', nconsts=['nm0526234', 'nm0096737', 'nm0511806', 'nm0511903', 'nm0344981', 'nm0489296']),
 Row(tconst='tt0003015', nconsts=['nm0441259', 'nm0203452', 'nm0210984', 'nm0225905', 'nm0226265', 'nm0352399', 'nm0389364']),
 Row(tconst='tt0003022', nconsts=['nm0007215', 'nm0047889', 'nm0107543', 'nm0393973']),
 Row(tconst='tt0003037', nconsts=['nm0622772', 'nm0107631', 'nm0577476', 'nm0137288']),
 Row(tconst='tt0003039', nconsts=['nm5791890', 'nm0306723', 'nm0789401', 'nm0696049', 'nm0901502', 'nm0419223']),
 Row(tconst='tt0003042', nconsts=['nm1845377', 'nm0902509']),
 Row(tconst='tt0003048', nconsts=['nm0683363', 'nm0517480', 'nm0676473', 'nm0485880', 'nm0163540', 'nm0639566']),
 Row(tconst='tt0003051', nconsts=['nm0082178', 'nm0324501', 'nm0459029']),
 Row(tconst='tt0003056', nconsts=['nm0828001', 'nm0632072', 'nm0676473', 'nm0163540', 'nm0300561', 'nm0186345']),
 Row(tconst='tt0003058', nconsts=['nm0269863', 'nm0190516', 'nm0156327', 'nm0368563']),
 Row(tconst='tt0003069', nconsts=['nm5231865', 'nm0159725', 'nm5231969', 'nm0539047', 'nm0539049', 'nm0627140', 'nm0676941']),
 Row(tconst='tt0003070', nconsts=['nm0404222', 'nm0516974', 'nm0931031', 'nm0653253', 'nm0338906', 'nm0905387', 'nm1346516']),
 Row(tconst='tt0003076', nconsts=['nm0014363', 'nm0477708', 'nm0526234', 'nm0679453', 'nm0874799']),
 Row(tconst='tt0003098', nconsts=['nm0326235']),
 Row(tconst='tt0003100', nconsts=['nm0558236']),
 Row(tconst='tt0003102', nconsts=['nm0143332', 'nm0096330', 'nm0094801', 'nm0743102', 'nm0744105', 'nm0135493']),
 Row(tconst='tt0003108', nconsts=['nm0099754', 'nm0888482']),
 Row(tconst='tt0003113', nconsts=['nm0086908', 'nm0127915', 'nm0148546', 'nm0534457', 'nm0582340', 'nm0699710', 'nm0900293']),
 Row(tconst='tt0003116', nconsts=['nm0179163']),
 Row(tconst='tt0003131', nconsts=['nm0042694', 'nm0046403', 'nm0076840', 'nm0188632', 'nm0195309', 'nm0324776', 'nm0376816']),
 Row(tconst='tt0003133', nconsts=['nm0549806']),
 Row(tconst='tt0003139', nconsts=['nm0276165']),
 Row(tconst='tt0003143', nconsts=['nm0576245']),
 Row(tconst='tt0003150', nconsts=['nm0690702', 'nm0096783', 'nm0252476', 'nm0353770', 'nm0526275']),
 Row(tconst='tt0003159', nconsts=['nm0959921', 'nm0893346', 'nm0296344', 'nm0592965', 'nm0470307']),
 Row(tconst='tt0003165', nconsts=['nm0622772', 'nm0107631', 'nm0577476', 'nm0525283']),
 Row(tconst='tt0003167', nconsts=['nm0014894', 'nm0910400', 'nm0189684', 'nm0001273', 'nm0321088', 'nm0863863', 'nm0550615']),
 Row(tconst='tt0003171', nconsts=['nm0190516', 'nm0269863', 'nm0751510', 'nm0071132', 'nm0391837', 'nm0551365', 'nm0156327']),
 Row(tconst='tt0003208', nconsts=['nm0455861', 'nm0097670', 'nm0118974', 'nm0159654', 'nm0264327', 'nm0294268', 'nm0318560', 'nm0392637']),
 Row(tconst='tt0003227', nconsts=['nm0927620', 'nm0252472', 'nm0527944', 'nm0874799']),
 Row(tconst='tt0003230', nconsts=['nm0176699']),
 Row(tconst='tt0003241', nconsts=['nm0949546']),
 Row(tconst='tt0003287', nconsts=['nm0181848', 'nm0528022', 'nm0389775', 'nm0272340']),
 Row(tconst='tt0003289', nconsts=['nm0768187', 'nm0676473', 'nm0908390', 'nm0485880', 'nm0287097', 'nm0163540', 'nm0329093']),
 Row(tconst='tt0003298', nconsts=['nm0306947', 'nm0301252', 'nm0007221', 'nm0401967']),
 Row(tconst='tt0003299', nconsts=['nm0551347', 'nm0754823', 'nm0440059', 'nm0292407']),
 Row(tconst='tt0003301', nconsts=['nm0352461', 'nm0065773', 'nm0868456', 'nm0167577']),
 Row(tconst='tt0003305', nconsts=['nm0746008', 'nm0843180', 'nm2286670', 'nm1942118']),
 Row(tconst='tt0003306', nconsts=['nm0489296', 'nm0073906', 'nm0074077', 'nm0075148', 'nm0253307', 'nm0084962']),
 Row(tconst='tt0003309', nconsts=['nm0753583', 'nm0223460', 'nm4116987', 'nm0862278', 'nm0270261', 'nm9892419']),
 Row(tconst='tt0003330', nconsts=['nm0005959', 'nm0257406', 'nm0956274', 'nm0624601']),
 Row(tconst='tt0003332', nconsts=['nm0308848', 'nm0652479']),
 Row(tconst='tt0003334', nconsts=['nm2297223', 'nm0813880', 'nm0768673', 'nm0531952', 'nm0348701', 'nm0890988', 'nm0810457']),

Accediamo al campo 1 sicchè 0 è il bucket, flat perché cosi unisce tutte le row in una

In [30]:
data.flatMap(lambda row: row[1]).take(10)

['nm0063086',
 'nm0183823',
 'nm1309758',
 'nm1010955',
 'nm1012612',
 'nm1011210',
 'nm1012621',
 'nm0675239',
 'nm0675260',
 'nm0215752']

Mappiamo ogni record di autore trovato in se stesso e 1

In [36]:
data.flatMap(lambda row: (row[1]))
  .map(lambda elem: (elem,1)).take(10)

[('nm0063086', 1),
 ('nm0183823', 1),
 ('nm1309758', 1),
 ('nm1010955', 1),
 ('nm1012612', 1),
 ('nm1011210', 1),
 ('nm1012621', 1),
 ('nm0675239', 1),
 ('nm0675260', 1),
 ('nm0215752', 1)]

Aggiungiamo reduce che somma la parte dopo il contantore dell'attore

In [42]:
data.flatMap(lambda row: (row[1])).map(lambda elem: (elem,1)).reduceByKey(lambda a,b: a+b).collect()

[('nm0209738', 7),
 ('nm1268667', 2),
 ('nm0664342', 11),
 ('nm0509449', 6),
 ('nm8425234', 3),
 ('nm0392015', 4),
 ('nm0894679', 4),
 ('nm1211519', 1),
 ('nm0098310', 3),
 ('nm0042422', 23),
 ('nm0148791', 1),
 ('nm0027244', 6),
 ('nm0926330', 1),
 ('nm0718835', 9),
 ('nm0143212', 2),
 ('nm0625346', 4),
 ('nm0172418', 7),
 ('nm0048408', 6),
 ('nm0544842', 1),
 ('nm0272538', 2),
 ('nm0737139', 2),
 ('nm0500347', 1),
 ('nm0051019', 3),
 ('nm0445736', 2),
 ('nm0803103', 7),
 ('nm0336572', 1),
 ('nm0883927', 1),
 ('nm0790966', 2),
 ('nm0675729', 2),
 ('nm0187847', 1),
 ('nm0422012', 2),
 ('nm0347345', 6),
 ('nm1380139', 1),
 ('nm0101182', 1),
 ('nm0607058', 7),
 ('nm0526398', 21),
 ('nm1260667', 11),
 ('nm0272889', 5),
 ('nm0280636', 1),
 ('nm0820461', 1),
 ('nm0288153', 2),
 ('nm0814028', 1),
 ('nm0342376', 1),
 ('nm0550629', 1),
 ('nm0780616', 1),
 ('nm0852748', 3),
 ('nm2557717', 1),
 ('nm0945427', 218),
 ('nm1024669', 5),
 ('nm0522431', 2),
 ('nm0594324', 16),
 ('nm0412045', 1),
 ('nm0515739', 8),
 ('nm0071031', 2),
 ('nm0911763', 1),
 ('nm0719338', 1),
 ('nm0587319', 3),
 ('nm0226507', 3),
 ('nm0763159', 2),
 ('nm0464592', 44),
 ('nm0250955', 4),
 ('nm0032243', 16),
 ('nm1216374', 1),
 ('nm0654479', 1),
 ('nm0842187', 1),
 ('nm0573751', 1),
 ('nm0058620', 13),
 ('nm0001537', 94),
 ('nm0451702', 5),
 ('nm2065118', 1),
 ('nm0634164', 4),
 ('nm0788846', 2),
 ('nm0241669', 3),
 ('nm0233210', 1),
 ('nm0791839', 2),
 ('nm0122783', 9),
 ('nm5634891', 1),
 ('nm0350998', 2),
 ('nm0905823', 1),
 ('nm0153679', 12),
 ('nm0890131', 8),
 ('nm0642180', 18),
 ('nm0370574', 18),
 ('nm0830036', 1),
 ('nm0475872', 69),
 ('nm0116953', 13),
 ('nm0432007', 102),
 ('nm0016177', 1),
 ('nm0233352', 26),
 ('nm0562492', 2),
 ('nm0297922', 16),
 ('nm0662700', 26),
 ('nm0467956', 15),
 ('nm0340574', 7),
 ('nm0504537', 5),
 ('nm0775628', 12),
 ('nm0137947', 6),
 ('nm0154996', 1),
 ('nm0538783', 9),
 ('nm0611984', 8),
 ('nm0252650', 13),
 ('nm1714664', 1),
 ('nm0264499', 8),
 ('nm0134236', 1),
 ('nm0586441', 3),
 ('nm0335179', 1),
 ('nm0234581', 18),
 ('nm0604702', 19),
 ('nm0354989', 3),
 ('nm1708651', 2),
 ('nm0515670', 1),
 ('nm2445843', 2),
 ('nm0072578', 13),
 ('nm0023569', 4),
 ('nm0503225', 1),
 ('nm0245581', 17),
 ('nm0321407', 18),
 ('nm0509550', 1),
 ('nm0897002', 2),
 ('nm0485763', 3),
 ('nm0390215', 7),
 ('nm0064865', 1),
 ('nm0778860', 2),
 ('nm0315167', 11),
 ('nm0527736', 25),
 ('nm0603672', 3),
 ('nm0768031', 47),
 ('nm0464008', 1),
 ('nm0681608', 6),
 ('nm0357867', 1),
 ('nm0046832', 3),
 ('nm0069672', 3),
 ('nm0698242', 6),
 ('nm1501443', 1),
 ('nm0739976', 2),
 ('nm0307756', 3),
 ('nm0083172', 1),
 ('nm0107746', 3),
 ('nm0033929', 6),
 ('nm0337016', 1),
 ('nm0719193', 6),
 ('nm0491096', 1),
 ('nm0741850', 1),
 ('nm6161893', 1),
 ('nm0061309', 34),
 ('nm0000015', 3),
 ('nm0456423', 20),
 ('nm0178504', 2),
 ('nm0897632', 1),
 ('nm2138777', 1),
 ('nm0548664', 22),
 ('nm0439377', 1),
 ('nm0478238', 6),
 ('nm0802296', 1),
 ('nm0274120', 11),
 ('nm0891038', 6),
 ('nm0860373', 1),
 ('nm0614130', 1),
 ('nm0264267', 7),
 ('nm0668847', 1),
 ('nm0203008', 1),
 ('nm0311409', 7),
 ('nm0058071', 1),
 ('nm0645965', 1),
 ('nm0407002', 118),
 ('nm0031484', 1),
 ('nm0528595', 27),
 ('nm0525654', 6),
 ('nm1797689', 2),
 ('nm1282788', 1),
 ('nm0466110', 2),
 ('nm0436018', 8),
 ('nm0824489', 23),
 ('nm0470567', 5),
 ('nm0081458', 1),
 ('nm0244863', 3),
 ('nm0680515', 3),
 ('nm0508157', 15),
 ('nm0448740', 2),
 ('nm0526008', 4),
 ('nm0102680', 1),
 ('nm0460575', 6),
 ('nm3254577', 1),
 ('nm0953987', 1),
 ('nm0495663', 1),
 ('nm1168856', 1),
 ('nm0116115', 1),
 ('nm0775676', 5),
 ('nm0515300', 2),
 ('nm1223588', 1),
 ('nm0516148', 3),
 ('nm0855486', 21),
 ('nm0315777', 1),
 ('nm0641302', 2),
 ('nm0599172', 1),
 ('nm0852406', 1),
 ('nm1667292', 1),
 ('nm0199239', 2),
 ('nm0079765', 1),
 ('nm0727593', 2),
 ('nm0904584', 10),
 ('nm1013183', 1),
 ('nm0082843', 1),
 ('nm0041453', 1),
 ('nm0000987', 33),
 ('nm0137524', 7),
 ('nm0691896', 1),
 ('nm0305955', 70),
 ('nm0774067', 1),
 ('nm0457601', 2),
 ('nm0291151', 1),
 ('nm0763995', 1),
 ('nm0208965', 1),
 ('nm0864713', 4),
 ('nm0060406', 12),
 ('nm1570687', 1),
 ('nm0538830', 3),
 ('nm0866087', 1),
 ('nm0738764', 1),
 ('nm0257552', 1),
 ('nm0026878', 3),
 ('nm0670367', 1),
 ('nm0053587', 8),
 ('nm0247403', 4),
 ('nm0255173', 1),
 ('nm0005234', 8),
 ('nm0707303', 29),
 ('nm1288343', 11),
 ('nm0559420', 5),
 ('nm0371304', 5),
 ('nm0005033', 88),
 ('nm0009500', 2),
 ('nm0691673', 3),
 ('nm2851844', 14),
 ('nm0147250', 1),
 ('nm0398495', 2),
 ('nm0122962', 2),
 ('nm0609675', 3),
 ('nm0468591', 1),
 ('nm0457298', 1),
 ('nm0926595', 1),
 ('nm0040296', 1),
 ('nm0798251', 1),
 ('nm0695367', 2),
 ('nm0173438', 1),
 ('nm0589900', 3),
 ('nm0420700', 16),
 ('nm0947450', 1),
 ('nm0863464', 1),
 ('nm0497097', 85),
 ('nm0311619', 2),
 ('nm0170346', 1),
 ('nm2840068', 3),
 ('nm0150121', 1),
 ('nm2662788', 3),
 ('nm0576447', 2),
 ('nm0687081', 2),
 ('nm0227968', 5),
 ('nm0210057', 5),
 ('nm0014420', 4),
 ('nm0462761', 1),
 ('nm0031070', 2),
 ('nm0581018', 3),
 ('nm0618389', 10),
 ('nm0467954', 7),
 ('nm0723276', 2),
 ('nm0166044', 4),
 ('nm3217784', 3),
 ('nm6894793', 1),
 ('nm0722984', 1),
 ('nm0037615', 25),
 ('nm0274473', 14),
 ('nm0104584', 1),
 ('nm3656420', 3),
 ('nm0273959', 4),
 ('nm0500441', 1),
 ('nm0791219', 2),
 ('nm0594257', 60),
 ('nm0314568', 18),
 ('nm1002291', 17),
 ('nm0490855', 7),
 ('nm0768124', 2),
 ('nm0163227', 9),
 ('nm0669464', 1),
 ('nm0117457', 2),
 ('nm0485878', 8),
 ('nm1817619', 12),
 ('nm0264581', 6),
 ('nm0672318', 1),
 ('nm0724365', 2),
 ('nm0231085', 9),
 ('nm0076311', 1),
 ('nm0902234', 1),
 ('nm0317753', 2),
 ('nm0944204', 1),
 ('nm0127446', 3),
 ('nm0150050', 1),
 ('nm0543006', 5),
 ('nm0089115', 1),
 ('nm0495779', 1),
 ('nm0314048', 23),
 ('nm1654533', 11),
 ('nm0888820', 1),
 ('nm0699575', 10),
 ('nm0160843', 1),
 ('nm0579523', 1),
 ('nm2216608', 1),
 ('nm0140814', 3),
 ('nm2532956', 2),
 ('nm8815860', 1),
 ('nm0280132', 11),
 ('nm0638308', 14),
 ('nm0543689', 1),
 ('nm0724098', 2),
 ('nm0023348', 21),
 ('nm0273833', 9),
 ('nm0830491', 1),
 ('nm0778003', 1),
 ('nm0865078', 22),
 ('nm0248803', 2),
 ('nm0475394', 5),
 ('nm11052524', 1),
 ('nm0095966', 6),
 ('nm0109244', 6),
 ('nm0263851', 52),
 ('nm0510966', 1),
 ('nm0156456', 4),
 ('nm0709938', 4),
 ('nm2723776', 1),
 ('nm0770031', 3),
 ('nm0879226', 1),
 ('nm0508811', 1),
 ('nm3140382', 1),
 ('nm0517037', 2),
 ('nm0241663', 21),
 ('nm1117589', 1),
 ('nm0443042', 1),
 ('nm0157674', 2),
 ('nm0074705', 1),
 ('nm0652808', 8),
 ('nm0572279', 4),
 ('nm0867339', 1),
 ('nm0636807', 1),
 ('nm0452766', 1),
 ('nm0944944', 1),
 ('nm0644105', 1),
 ('nm0440345', 2),
 ('nm0136826', 4),
 ('nm0274342', 1),
 ('nm0197772', 1),
 ('nm0444287', 1),
 ('nm1315198', 6),
 ('nm0327597', 1),
 ('nm0809204', 1),
 ('nm0694893', 131),
 ('nm0259031', 3),
 ('nm0112176', 1),
 ('nm0220438', 1),
 ('nm0256303', 1),
 ('nm0104265', 1),
 ('nm0925406', 4),
 ('nm0597585', 1),
 ('nm0231263', 1),
 ('nm0882573', 6),
 ('nm0766367', 8),
 ('nm0069476', 2),
 ('nm0232604', 3),
 ('nm0764168', 65),
 ('nm1253875', 4),
 ('nm0802032', 2),
 ('nm0744087', 1),
 ('nm0944223', 6),
 ('nm2177534', 1),
 ('nm1734604', 1),
 ('nm0156550', 3),
 ('nm0055733', 18),
 ('nm0411903', 16),
 ('nm0473029', 4),
 ('nm0802012', 1),
 ('nm0447027', 1),
 ('nm0543554', 5),
 ('nm0847393', 3),
 ('nm0390924', 1),
 ('nm4094849', 1),
 ('nm0607111', 1),
 ('nm0733145', 1),
 ('nm0568907', 2),
 ('nm0205325', 1),
 ('nm0627549', 14),
 ('nm1230101', 8),
 ('nm0680429', 4),
 ('nm0386351', 1),
 ('nm0675939', 4),
 ('nm7951812', 1),
 ('nm0908133', 1),
 ('nm1173726', 1),
 ('nm8328239', 1),
 ('nm0608195', 2),
 ('nm0215837', 3),
 ('nm5025898', 2),
 ('nm0084208', 1),
 ('nm1468981', 1),
 ('nm0064710', 3),
 ('nm0139711', 9),
 ('nm0457215', 45),
 ('nm0220196', 1),
 ('nm0172434', 1),
 ('nm0921582', 3),
 ('nm0844476', 8),
 ('nm0973436', 1),
 ('nm0440066', 1),
 ('nm1342226', 1),
 ('nm0001562', 9),
 ('nm0611148', 6),
 ('nm0479516', 44),
 ('nm0412842', 1),
 ('nm0436825', 1),
 ('nm0808500', 1),
 ('nm0944593', 2),
 ('nm0649353', 2),
 ('nm0234132', 1),
 ('nm0610206', 4),
 ('nm0453248', 1),
 ('nm0373019', 1),
 ('nm1222240', 1),
 ('nm0077779', 1),
 ('nm0019343', 3),
 ('nm0243348', 1),
 ('nm0016369', 5),
 ('nm0803759', 1),
 ('nm0587549', 2),
 ('nm0466292', 25),
 ('nm3407985', 5),
 ('nm0081085', 1),
 ('nm0217717', 2),
 ('nm0811939', 1),
 ('nm0835292', 12),
 ('nm0269800', 28),
 ('nm0193459', 43),
 ('nm1817802', 1),
 ('nm1504906', 1),
 ('nm0794477', 1),
 ('nm1839741', 1),
 ('nm0080372', 1),
 ('nm0541491', 1),
 ('nm1663509', 2),
 ('nm0056417', 1),
 ('nm0145299', 4),
 ('nm0693936', 1),
 ('nm0930971', 7),
 ('nm0019519', 1),
 ('nm0150130', 1),
 ('nm0750152', 1),
 ('nm0728484', 10),
 ('nm0159017', 4),
 ('nm0683978', 12),
 ('nm0500124', 1),
 ('nm0019448', 1),
 ('nm0927251', 9),
 ('nm0062844', 4),
 ('nm6397377', 1),
 ('nm0847136', 6),
 ('nm1491203', 2),
 ('nm0847261', 1),
 ('nm0526649', 4),
 ('nm0316167', 1),
 ('nm0814532', 1),
 ('nm0112706', 1),
 ('nm0147518', 2),
 ('nm0557782', 1),
 ('nm1157232', 6),
 ('nm3359180', 1),
 ('nm0346027', 2),
 ('nm0164750', 1),
 ('nm0248634', 2),
 ('nm0289080', 6),
 ('nm0061223', 17),
 ('nm2770151', 1),
 ('nm0180105', 12),
 ('nm0251869', 1),
 ('nm0046245', 22),
 ('nm0747716', 16),
 ('nm0573031', 4),
 ('nm1226885', 6),
 ('nm0477464', 1),
 ('nm0824987', 12),
 ('nm0751865', 1),
 ('nm0497470', 13),
 ('nm1090173', 1),
 ('nm0239335', 1),
 ('nm0853174', 14),
 ('nm0020440', 2),
 ('nm0422330', 1),
 ('nm0075968', 1),
 ('nm1404357', 1),
 ('nm0832700', 4),
 ('nm0526851', 5),
 ('nm0052365', 1),
 ('nm0812188', 2),
 ('nm3067368', 1),
 ('nm0060777', 2),
 ('nm0167082', 1),
 ('nm0443881', 1),
 ('nm0730924', 2),
 ('nm0005183', 6),
 ('nm1171700', 3),
 ('nm0287596', 1),
 ('nm0029210', 1),
 ('nm0770831', 1),
 ('nm0543740', 1),
 ('nm2359914', 1),
 ('nm0516706', 1),
 ('nm9098555', 1),
 ('nm0259105', 1),
 ('nm3108810', 1),
 ('nm0160106', 1),
 ('nm1112964', 2),
 ('nm0237070', 9),
 ('nm0357084', 1),
 ('nm0753485', 3),
 ('nm0200076', 1),
 ('nm0503011', 3),
 ('nm1104284', 1),
 ('nm0432672', 1),
 ('nm1816603', 3),
 ('nm1423000', 1),
 ('nm0532262', 1),
 ('nm0219420', 2),
 ('nm0088421', 1),
 ('nm0730993', 3),
 ('nm0204285', 1),
 ('nm0657259', 3),
 ('nm0001383', 10),
 ('nm0176685', 1),
 ('nm0433540', 1),
 ('nm0176361', 9),
 ('nm0211516', 3),
 ('nm0647593', 1),
 ('nm0151540', 7),
 ('nm1827174', 1),
 ('nm0083516', 2),
 ('nm0474894', 4),
 ('nm0034775', 1),
 ('nm2630207', 1),
 ('nm0059424', 2),
 ('nm0248242', 1),
 ('nm0954079', 24),
 ('nm1565290', 1),
 ('nm0379114', 2),
 ('nm1224176', 1),
 ('nm0911483', 2),
 ('nm0132054', 4),
 ('nm0422415', 4),
 ('nm3816242', 1),
 ('nm1018176', 1),
 ('nm0904035', 6),
 ('nm0610673', 5),
 ('nm0463991', 4),
 ('nm2390235', 3),
 ('nm1102039', 1),
 ('nm0948238', 5),
 ('nm0098033', 1),
 ('nm1031837', 28),
 ('nm0632561', 28),
 ('nm1391203', 12),
 ('nm0161792', 1),
 ('nm0911196', 5),
 ('nm1173845', 1),
 ('nm1173673', 1),
 ('nm0649638', 16),
 ('nm2160757', 10),
 ('nm1835681', 1),
 ('nm0414266', 1),
 ('nm0736637', 9),
 ('nm2372047', 79),
 ('nm0620657', 12),
 ('nm0827555', 1),
 ('nm0389880', 3),
 ('nm0136634', 4),
 ('nm0923922', 1),
 ('nm4600649', 1),
 ('nm0476011', 7),
 ('nm2246652', 1),
 ('nm0590353', 1),
 ('nm0078535', 1),
 ('nm0952027', 8),
 ('nm0071893', 1),
 ('nm0320210', 1),
 ('nm2471889', 1),
 ('nm1032558', 1),
 ('nm0919679', 1),
 ('nm0403692', 6),
 ('nm0059103', 1),
 ('nm0931477', 1),
 ('nm0415306', 1),
 ('nm0358972', 6),
 ('nm0953611', 1),
 ('nm0347465', 1),
 ('nm0516599', 1),
 ('nm0070312', 2),
 ('nm0407846', 4),
 ('nm1631601', 1),
 ('nm0053560', 1),
 ('nm0461642', 1),
 ('nm0158502', 7),
 ('nm0474936', 14),
 ('nm0997398', 1),
 ('nm0584281', 1),
 ('nm1214080', 2),
 ('nm0122020', 1),
 ('nm0279996', 5),
 ('nm1207948', 1),
 ('nm0159792', 2),
 ('nm0007783', 1),
 ('nm0215402', 4),
 ('nm1056505', 1),
 ('nm1290159', 1),
 ('nm0690470', 1),
 ('nm0100272', 2),
 ('nm0232494', 2),
 ('nm1076354', 2),
 ('nm0119650', 2),
 ('nm0031900', 1),
 ('nm3440832', 1),
 ('nm0647475', 1),
 ('nm0205056', 1),
 ('nm0537986', 1),
 ('nm0144643', 1),
 ('nm0899649', 14),
 ('nm0597699', 4),
 ('nm0039993', 4),
 ('nm0626653', 2),
 ('nm0210458', 6),
 ('nm1122282', 1),
 ('nm1662481', 2),
 ('nm3605633', 1),
 ('nm3157644', 2),
 ('nm7307358', 1),
 ('nm1250907', 38),
 ('nm0234890', 1),
 ('nm0229483', 4),
 ('nm0042469', 1),
 ('nm0325682', 1),
 ('nm3316266', 9),
 ('nm0118628', 1),
 ('nm3573496', 1),
 ('nm6296096', 1),
 ('nm9866243', 1),
 ('nm0442783', 1),
 ('nm0623430', 1),
 ('nm2596134', 3),
 ('nm0624899', 1),
 ('nm2831883', 1),
 ('nm3228764', 5),
 ('nm1214358', 1),
 ('nm0937279', 1),
 ('nm1244004', 3),
 ('nm3760922', 1),
 ('nm0039509', 1),
 ('nm0146720', 3),
 ('nm0620223', 2),
 ('nm5985223', 1),
 ('nm0859503', 8),
 ('nm1921933', 29),
 ('nm0590243', 9),
 ('nm0529005', 1),
 ('nm0089058', 5),
 ('nm0042009', 1),
 ('nm0441306', 2),
 ('nm0077852', 1),
 ('nm0682263', 1),
 ('nm0833365', 1),
 ('nm0321856', 2),
 ('nm3016880', 2),
 ('nm0318373', 1),
 ('nm0463662', 3),
 ('nm0263328', 1),
 ('nm1233062', 1),
 ('nm1047889', 45),
 ('nm0602504', 2),
 ('nm0446296', 2),
 ('nm0404024', 1),
 ('nm0872771', 1),
 ('nm2996211', 1),
 ('nm1668388', 1),
 ('nm0199392', 1),
 ('nm1559102', 1),
 ('nm0300987', 1),
 ('nm2637357', 1),
 ('nm0106116', 2),
 ('nm0830849', 1),
 ('nm3095734', 1),
 ('nm2479203', 2),
 ('nm1052596', 22),
 ('nm10289610', 1),
 ('nm1441445', 3),
 ('nm2075265', 1),
 ('nm0211475', 1),
 ('nm0460362', 4),
 ('nm6180851', 2),
 ('nm0759306', 1),
 ('nm0846032', 1),
 ('nm0005311', 7),
 ('nm0911994', 1),
 ('nm2102767', 1),
 ('nm3854281', 1),
 ('nm0892845', 2),
 ('nm2606067', 1),
 ('nm1280082', 5),
 ('nm1021759', 1),
 ('nm0654724', 1),
 ('nm1589118', 1),
 ('nm1298537', 1),
 ('nm0019482', 8),
 ('nm1044503', 5),
 ('nm1877778', 1),
 ('nm4531628', 1),
 ('nm0049231', 4),
 ('nm9142663', 1),
 ('nm8373424', 3),
 ('nm0083760', 1),
 ('nm0656247', 5),
 ('nm0045062', 1),
 ('nm0481591', 1),
 ('nm0467787', 2),
 ('nm3752592', 1),
 ('nm0215581', 2),
 ('nm0761146', 3),
 ('nm0800497', 1),
 ('nm2453001', 2),
 ('nm0091712', 3),
 ('nm0051509', 21),
 ('nm0287884', 1),
 ('nm1055580', 2),
 ('nm0191112', 1),
 ('nm0369525', 2),
 ('nm0538598', 2),
 ('nm1651235', 1),
 ('nm0661515', 1),
 ('nm6151861', 2),
 ('nm2494978', 2),
 ('nm0523683', 11),
 ('nm0766488', 2),
 ('nm1343618', 1),
 ('nm0660140', 1),
 ('nm1089453', 4),
 ('nm0812327', 1),
 ('nm0163019', 2),
 ('nm0713227', 1),
 ('nm6222099', 29),
 ('nm2611149', 2),
 ('nm0290534', 11),
 ('nm1437443', 1),
 ('nm0853419', 5),
 ('nm0404408', 1),
 ('nm0619745', 2),
 ('nm1980638', 1),
 ('nm7019577', 1),
 ('nm1864417', 1),
 ('nm1712512', 1),
 ('nm1066867', 1),
 ('nm0580854', 1),
 ('nm0274235', 1),
 ('nm0790761', 1),
 ('nm0527985', 1),
 ('nm0375631', 3),
 ('nm0785461', 1),
 ('nm8420293', 1),
 ('nm0059585', 1),
 ('nm0060966', 1),
 ('nm1126493', 1),
 ('nm10105137', 1),
 ('nm0236015', 3),
 ('nm0124788', 1),
 ('nm0530957', 1),
 ('nm0295777', 1),
 ('nm0267356', 14),
 ('nm1388532', 1),
 ('nm5170574', 1),
 ('nm0700000', 1),
 ('nm0238173', 1),
 ('nm8792203', 1),
 ('nm0220630', 1),
 ('nm0028113', 1),
 ('nm1138654', 1),
 ('nm0974367', 1),
 ('nm1096152', 2),
 ('nm0215141', 1),
 ('nm1155489', 1),
 ('nm3153203', 1),
 ('nm0810572', 1),
 ('nm0428533', 1),
 ('nm1074345', 2),
 ('nm0445456', 1),
 ('nm0675884', 1),
 ('nm0824673', 1),
 ('nm9804942', 1),
 ('nm3402998', 1),
 ('nm0199143', 1),
 ('nm0084284', 1),
 ('nm1068697', 1),
 ('nm1861718', 1),
 ('nm0317980', 1),
 ('nm0134801', 5),
 ('nm0838551', 3),
 ('nm5331895', 1),
 ('nm1340372', 1),
 ('nm2530046', 1),
 ('nm2990868', 1),
 ('nm0177657', 1),
 ('nm0375420', 3),
 ('nm0619405', 4),
 ('nm2192554', 1),
 ('nm0151970', 2),
 ('nm4482497', 1),
 ('nm0813195', 1),
 ('nm0012129', 1),
 ('nm1291190', 26),
 ('nm0735912', 1),
 ('nm1884260', 3),
 ('nm0623883', 42),
 ('nm1057796', 1),
 ('nm0105696', 4),
 ('nm0451696', 6),
 ('nm0193826', 2),
 ('nm1250925', 10),
 ('nm10811360', 2),
 ('nm1067131', 1),
 ('nm7297720', 2),
 ('nm4980016', 1),
 ('nm3276149', 2),
 ('nm0286914', 3),
 ('nm0410336', 5),
 ('nm1081714', 15),
 ('nm0134955', 2),
 ('nm0152229', 2),
 ('nm0237813', 1),
 ('nm2357411', 1),
 ('nm1107247', 1),
 ('nm1835652', 1),
 ('nm0206777', 2),
 ('nm0067277', 1),
 ('nm1141228', 1),
 ('nm1105404', 6),
 ('nm0229212', 1),
 ('nm0634203', 1),
 ('nm0143288', 1),
 ('nm0445284', 1),
 ('nm0134438', 2),
 ('nm0710282', 1),
 ('nm0804201', 1),
 ('nm0039508', 1),
 ('nm0972617', 1),
 ('nm0699263', 2),
 ('nm1074331', 1),
 ('nm0920169', 1),
 ('nm0751082', 1),
 ('nm0969475', 5),
 ('nm0717078', 1),
 ('nm0220346', 1),
 ('nm0868131', 3),
 ('nm0999302', 4),
 ('nm1003102', 1),
 ('nm1001419', 1),
 ('nm1009005', 1),
 ('nm1007483', 1),
 ('nm0441366', 4),
 ('nm1008047', 1),
 ('nm3769553', 1),
 ('nm1026223', 3),
 ('nm1435963', 1),
 ('nm0770284', 1),
 ('nm0468859', 2),
 ('nm1032584', 1),
 ('nm0604545', 1),
 ('nm1027864', 1),
 ('nm0959208', 1),
 ('nm1033301', 1),
 ('nm1027667', 1),
 ('nm1096710', 1),
 ('nm2520202', 1),
 ('nm1035698', 1),
 ('nm0641841', 7),
 ('nm2510706', 8),
 ('nm0101137', 1),
 ('nm1149137', 7),
 ('nm10785900', 1),
 ('nm4677669', 2),
 ('nm1118049', 1),
 ('nm1048027', 1),
 ('nm0283801', 1),
 ('nm0179756', 1),
 ('nm1132848', 1),
 ('nm1080667', 1),
 ('nm1081369', 1),
 ('nm1233497', 1),
 ('nm3463875', 2),
 ('nm5581688', 1),
 ('nm1083360', 2),
 ('nm1427000', 1),
 ('nm1104258', 1),
 ('nm0761998', 1),
 ('nm1109458', 8),
 ('nm5694496', 1),
 ('nm0527463', 1),
 ('nm1128627', 1),
 ('nm1137336', 1),
 ('nm9858185', 1),
 ('nm0154340', 1),
 ('nm1041064', 1),
 ('nm1136814', 2),
 ('nm1193461', 1),
 ('nm1213227', 10),
 ('nm0881310', 1),
 ('nm0023817', 1),
 ('nm0448618', 1),
 ('nm10052494', 1),
 ('nm1167264', 1),
 ('nm1167108', 1),
 ('nm0328426', 2),
 ('nm0246874', 1),
 ('nm2785104', 2),
 ('nm2885981', 1),
 ('nm1163036', 4),
 ('nm1211419', 1),
 ('nm1156319', 1),
 ('nm0241519', 1),
 ('nm1651076', 1),
 ('nm1186980', 1),
 ('nm1188966', 1),
 ('nm1553209', 1),
 ('nm1192351', 1),
 ('nm0152546', 1),
 ('nm0375892', 2),
 ('nm3789789', 1),
 ('nm1190962', 1),
 ('nm5962235', 3),
 ('nm1196442', 3),
 ('nm1194747', 1),
 ('nm1219906', 1),
 ('nm1197707', 2),
 ('nm0233180', 1),
 ('nm1217899', 16),
 ('nm1329704', 1),
 ('nm1218352', 11),
 ('nm1227515', 1),
 ('nm0874495', 1),
 ('nm0697201', 3),
 ('nm1233594', 15),
 ('nm0417744', 2),
 ('nm1310450', 4),
 ('nm1235091', 1),
 ('nm1239495', 1),
 ('nm1238133', 1),
 ('nm0082700', 4),
 ('nm2262867', 4),
 ('nm1245388', 1),
 ('nm1251840', 4),
 ('nm2188633', 1),
 ('nm1253955', 21),
 ('nm1250509', 1),
 ('nm1254623', 5),
 ('nm1384769', 10),
 ('nm0753898', 1),
 ('nm0714104', 1),
 ('nm2693172', 4),
 ('nm1059824', 3),
 ('nm2171332', 1),
 ('nm0627041', 1),
 ('nm1278035', 1),
 ('nm1278076', 2),
 ('nm1279729', 2),
 ('nm0312576', 1),
 ('nm1394696', 1),
 ('nm1274918', 1),
 ('nm8748787', 1),
 ('nm6288636', 1),
 ('nm1303340', 3),
 ('nm1653111', 4),
 ('nm0309107', 5),
 ('nm1299445', 1),
 ('nm0590758', 1),
 ('nm1501353', 2),
 ('nm1317171', 8),
 ('nm1316596', 1),
 ('nm1316111', 1),
 ('nm1493849', 1),
 ('nm0271927', 1),
 ('nm1325226', 1),
 ('nm1333550', 13),
 ('nm1334938', 1),
 ('nm1334317', 1),
 ('nm0688495', 7),
 ('nm1565937', 1),
 ('nm2753957', 1),
 ('nm1225733', 1),
 ('nm0743697', 1),
 ('nm1356997', 11),
 ('nm0551173', 1),
 ('nm0463775', 1),
 ...]

Aggiungiamo un threshold (almeno 200 apparizioni)

In [46]:
data.flatMap(lambda row: (row[1])).map(lambda elem: (elem,1)).reduceByKey(lambda a,b: a+b).filter(lambda x: x[1] >=200).take(10)

[('nm0945427', 218),
 ('nm0764762', 245),
 ('nm0045119', 251),
 ('nm0893449', 232),
 ('nm1894124', 273),
 ('nm0415549', 299),
 ('nm1006879', 239),
 ('nm0793813', 411),
 ('nm0482320', 344),
 ('nm0659173', 214)]

In [48]:
res = data.flatMap(lambda row: (row[1])) \
          .map(lambda elem: (elem,1)) \
          .reduceByKey(lambda a,b: a+b) \
          .filter(lambda x: x[1] >=200) \
          .collect()
res

[('nm0945427', 218),
 ('nm0764762', 245),
 ('nm0045119', 251),
 ('nm0893449', 232),
 ('nm1894124', 273),
 ('nm0415549', 299),
 ('nm1006879', 239),
 ('nm0793813', 411),
 ('nm0482320', 344),
 ('nm0659173', 214),
 ('nm0798827', 228),
 ('nm0688093', 243),
 ('nm0474820', 230),
 ('nm0706691', 315),
 ('nm0374974', 284),
 ('nm0004417', 287),
 ('nm0046850', 348),
 ('nm0004467', 210),
 ('nm0222432', 274),
 ('nm0080173', 216),
 ('nm0006369', 276),
 ('nm0154164', 235),
 ('nm0695177', 215),
 ('nm1066548', 228),
 ('nm0623427', 438),
 ('nm0619107', 387),
 ('nm0159159', 205),
 ('nm0619309', 313),
 ('nm0035067', 294),
 ('nm0001000', 303),
 ('nm0000465', 295),
 ('nm0695199', 256),
 ('nm0993695', 213),
 ('nm0417314', 207),
 ('nm0451600', 206),
 ('nm0315553', 234),
 ('nm1066229', 228),
 ('nm0352032', 229),
 ('nm3183374', 261),
 ('nm0006982', 585),
 ('nm0613417', 239),
 ('nm0304262', 323),
 ('nm0648803', 565),
 ('nm1001108', 219),
 ('nm0004660', 213),
 ('nm0419707', 214),
 ('nm0004429', 270),
 ('nm0023173', 265),
 ('nm0419653', 303),
 ('nm0246703', 391),
 ('nm1352627', 263),
 ('nm0019382', 228),
 ('nm0482285', 201),
 ('nm0534867', 291),
 ('nm0004463', 255),
 ('nm2366585', 207),
 ('nm0619779', 260),
 ('nm0103977', 798),
 ('nm0305182', 506),
 ('nm0261738', 292),
 ('nm0007123', 381),
 ('nm0820286', 210),
 ('nm0659250', 303),
 ('nm0420092', 235),
 ('nm0453523', 206),
 ('nm0747131', 209),
 ('nm0347953', 260),
 ('nm0367928', 236),
 ('nm0007106', 310),
 ('nm0000616', 248),
 ('nm7390393', 355),
 ('nm0149822', 330),
 ('nm0419685', 211),
 ('nm0837797', 250),
 ('nm2147526', 208),
 ('nm0764298', 200),
 ('nm0595934', 223),
 ('nm0739418', 203),
 ('nm0433884', 204),
 ('nm0033136', 200),
 ('nm0667985', 216),
 ('nm0021728', 234),
 ('nm0158101', 248),
 ('nm0004437', 245),
 ('nm0003501', 224),
 ('nm0453520', 244),
 ('nm0654710', 218)]

Vediamo ora per la seconda parte di apriori

In [58]:
data.take(10)

[Row(tconst='tt0000009', nconsts=['nm0063086', 'nm0183823', 'nm1309758']),
 Row(tconst='tt0000335', nconsts=['nm1010955', 'nm1012612', 'nm1011210', 'nm1012621', 'nm0675239', 'nm0675260']),
 Row(tconst='tt0000502', nconsts=['nm0215752', 'nm0252720']),
 Row(tconst='tt0000574', nconsts=['nm0846887', 'nm0846894', 'nm3002376', 'nm0170118']),
 Row(tconst='tt0000615', nconsts=['nm3071427', 'nm0581353', 'nm0888988', 'nm0240418', 'nm0346387', 'nm0218953']),
 Row(tconst='tt0000630', nconsts=['nm0624446']),
 Row(tconst='tt0000676', nconsts=['nm0097421', 'nm0140054']),
 Row(tconst='tt0000679', nconsts=['nm0000875', 'nm0122665', 'nm0933446', 'nm2924919']),
 Row(tconst='tt0000793', nconsts=['nm0691995']),
 Row(tconst='tt0000862', nconsts=['nm5289318', 'nm5289829', 'nm0264569', 'nm0386036', 'nm0511080', 'nm5188470'])]

Prendiamo il primo record per provare e estriamo i due elementi. Scriviamo una funzione che controlla se gli elementi di una copia sono nella riga (si pup fare meglio ma così era semplice)

In [64]:
copia = ['nm0063086', 'nm0183823']    #primi due attori del primo record

def check_row(row, copia):
  for el in copia:
    if el not in row:
      return False
  return True

data.map(lambda x:x[1]).filter(lambda x: check_row(x,copia)).take(5)

[['nm0063086', 'nm0183823', 'nm1309758']]

In [71]:
def apriori(data, support_threshold):
    singleton_counter = []
    lookup_index_table = {}
    reverse_lookup_index_table = {}

    # count singletons in a map-reduce manner
    singletons_count = data.flatMap(lambda row: (row[1])) \
          .map(lambda elem: (elem,1)) \
          .reduceByKey(lambda a,b: a+b) \
          .filter(lambda x: x[1] >= support_threshold) \
          .collect()

    frequent_items = [elem[0] for elem in singletons_count]

    couples_to_check = []
    # trick con enumerate per evitare di fare due volte la stessa copia al contrario
    for A, elemA in enumerate(frequent_items):
      for B, elemB in enumerate(frequent_items):
        if A < B:
          couples_to_check.append([elemA, elemB])



    """
    for bucket in transactions:
        for elem in bucket:
            if elem not in lookup_index_table:
                # The newly discovered element is appended on the tail of the array counter
                lookup_index_table[elem] = len(singleton_counter)
                reverse_lookup_index_table[len(singleton_counter)] = elem
                singleton_counter.append(0)

            idx = lookup_index_table[elem]
            singleton_counter[idx] += 1

    frequent_items_table = [i for i,v in enumerate(singleton_counter) if v > support_threshold]
    
    # count pairs
    pair_counter = {}
    for bucket in transactions:
        frequent_items = [lookup_index_table[item] for item in bucket 
                          if lookup_index_table[item] in frequent_items_table]

        for x in frequent_items:
            for y in frequent_items:
                if x<y:
                    pair_counter[(x,y)] = pair_counter.get((x,y), 0) +1 

    return [list(map(lambda x: reverse_lookup_index_table[x], i)) for i,c in pair_counter.items() 
            if c > support_threshold] 
    """
    return couples_to_check

In [72]:
rules = apriori(data, 200)
rules

[['nm0945427', 'nm0764762'],
 ['nm0945427', 'nm0045119'],
 ['nm0945427', 'nm0893449'],
 ['nm0945427', 'nm1894124'],
 ['nm0945427', 'nm0415549'],
 ['nm0945427', 'nm1006879'],
 ['nm0945427', 'nm0793813'],
 ['nm0945427', 'nm0482320'],
 ['nm0945427', 'nm0659173'],
 ['nm0945427', 'nm0798827'],
 ['nm0945427', 'nm0688093'],
 ['nm0945427', 'nm0474820'],
 ['nm0945427', 'nm0706691'],
 ['nm0945427', 'nm0374974'],
 ['nm0945427', 'nm0004417'],
 ['nm0945427', 'nm0046850'],
 ['nm0945427', 'nm0004467'],
 ['nm0945427', 'nm0222432'],
 ['nm0945427', 'nm0080173'],
 ['nm0945427', 'nm0006369'],
 ['nm0945427', 'nm0154164'],
 ['nm0945427', 'nm0695177'],
 ['nm0945427', 'nm1066548'],
 ['nm0945427', 'nm0623427'],
 ['nm0945427', 'nm0619107'],
 ['nm0945427', 'nm0159159'],
 ['nm0945427', 'nm0619309'],
 ['nm0945427', 'nm0035067'],
 ['nm0945427', 'nm0001000'],
 ['nm0945427', 'nm0000465'],
 ['nm0945427', 'nm0695199'],
 ['nm0945427', 'nm0993695'],
 ['nm0945427', 'nm0417314'],
 ['nm0945427', 'nm0451600'],
 ['nm0945427', 'nm0315553'],
 ['nm0945427', 'nm1066229'],
 ['nm0945427', 'nm0352032'],
 ['nm0945427', 'nm3183374'],
 ['nm0945427', 'nm0006982'],
 ['nm0945427', 'nm0613417'],
 ['nm0945427', 'nm0304262'],
 ['nm0945427', 'nm0648803'],
 ['nm0945427', 'nm1001108'],
 ['nm0945427', 'nm0004660'],
 ['nm0945427', 'nm0419707'],
 ['nm0945427', 'nm0004429'],
 ['nm0945427', 'nm0023173'],
 ['nm0945427', 'nm0419653'],
 ['nm0945427', 'nm0246703'],
 ['nm0945427', 'nm1352627'],
 ['nm0945427', 'nm0019382'],
 ['nm0945427', 'nm0482285'],
 ['nm0945427', 'nm0534867'],
 ['nm0945427', 'nm0004463'],
 ['nm0945427', 'nm2366585'],
 ['nm0945427', 'nm0619779'],
 ['nm0945427', 'nm0103977'],
 ['nm0945427', 'nm0305182'],
 ['nm0945427', 'nm0261738'],
 ['nm0945427', 'nm0007123'],
 ['nm0945427', 'nm0820286'],
 ['nm0945427', 'nm0659250'],
 ['nm0945427', 'nm0420092'],
 ['nm0945427', 'nm0453523'],
 ['nm0945427', 'nm0747131'],
 ['nm0945427', 'nm0347953'],
 ['nm0945427', 'nm0367928'],
 ['nm0945427', 'nm0007106'],
 ['nm0945427', 'nm0000616'],
 ['nm0945427', 'nm7390393'],
 ['nm0945427', 'nm0149822'],
 ['nm0945427', 'nm0419685'],
 ['nm0945427', 'nm0837797'],
 ['nm0945427', 'nm2147526'],
 ['nm0945427', 'nm0764298'],
 ['nm0945427', 'nm0595934'],
 ['nm0945427', 'nm0739418'],
 ['nm0945427', 'nm0433884'],
 ['nm0945427', 'nm0033136'],
 ['nm0945427', 'nm0667985'],
 ['nm0945427', 'nm0021728'],
 ['nm0945427', 'nm0158101'],
 ['nm0945427', 'nm0004437'],
 ['nm0945427', 'nm0003501'],
 ['nm0945427', 'nm0453520'],
 ['nm0945427', 'nm0654710'],
 ['nm0764762', 'nm0045119'],
 ['nm0764762', 'nm0893449'],
 ['nm0764762', 'nm1894124'],
 ['nm0764762', 'nm0415549'],
 ['nm0764762', 'nm1006879'],
 ['nm0764762', 'nm0793813'],
 ['nm0764762', 'nm0482320'],
 ['nm0764762', 'nm0659173'],
 ['nm0764762', 'nm0798827'],
 ['nm0764762', 'nm0688093'],
 ['nm0764762', 'nm0474820'],
 ['nm0764762', 'nm0706691'],
 ['nm0764762', 'nm0374974'],
 ['nm0764762', 'nm0004417'],
 ['nm0764762', 'nm0046850'],
 ['nm0764762', 'nm0004467'],
 ['nm0764762', 'nm0222432'],
 ['nm0764762', 'nm0080173'],
 ['nm0764762', 'nm0006369'],
 ['nm0764762', 'nm0154164'],
 ['nm0764762', 'nm0695177'],
 ['nm0764762', 'nm1066548'],
 ['nm0764762', 'nm0623427'],
 ['nm0764762', 'nm0619107'],
 ['nm0764762', 'nm0159159'],
 ['nm0764762', 'nm0619309'],
 ['nm0764762', 'nm0035067'],
 ['nm0764762', 'nm0001000'],
 ['nm0764762', 'nm0000465'],
 ['nm0764762', 'nm0695199'],
 ['nm0764762', 'nm0993695'],
 ['nm0764762', 'nm0417314'],
 ['nm0764762', 'nm0451600'],
 ['nm0764762', 'nm0315553'],
 ['nm0764762', 'nm1066229'],
 ['nm0764762', 'nm0352032'],
 ['nm0764762', 'nm3183374'],
 ['nm0764762', 'nm0006982'],
 ['nm0764762', 'nm0613417'],
 ['nm0764762', 'nm0304262'],
 ['nm0764762', 'nm0648803'],
 ['nm0764762', 'nm1001108'],
 ['nm0764762', 'nm0004660'],
 ['nm0764762', 'nm0419707'],
 ['nm0764762', 'nm0004429'],
 ['nm0764762', 'nm0023173'],
 ['nm0764762', 'nm0419653'],
 ['nm0764762', 'nm0246703'],
 ['nm0764762', 'nm1352627'],
 ['nm0764762', 'nm0019382'],
 ['nm0764762', 'nm0482285'],
 ['nm0764762', 'nm0534867'],
 ['nm0764762', 'nm0004463'],
 ['nm0764762', 'nm2366585'],
 ['nm0764762', 'nm0619779'],
 ['nm0764762', 'nm0103977'],
 ['nm0764762', 'nm0305182'],
 ['nm0764762', 'nm0261738'],
 ['nm0764762', 'nm0007123'],
 ['nm0764762', 'nm0820286'],
 ['nm0764762', 'nm0659250'],
 ['nm0764762', 'nm0420092'],
 ['nm0764762', 'nm0453523'],
 ['nm0764762', 'nm0747131'],
 ['nm0764762', 'nm0347953'],
 ['nm0764762', 'nm0367928'],
 ['nm0764762', 'nm0007106'],
 ['nm0764762', 'nm0000616'],
 ['nm0764762', 'nm7390393'],
 ['nm0764762', 'nm0149822'],
 ['nm0764762', 'nm0419685'],
 ['nm0764762', 'nm0837797'],
 ['nm0764762', 'nm2147526'],
 ['nm0764762', 'nm0764298'],
 ['nm0764762', 'nm0595934'],
 ['nm0764762', 'nm0739418'],
 ['nm0764762', 'nm0433884'],
 ['nm0764762', 'nm0033136'],
 ['nm0764762', 'nm0667985'],
 ['nm0764762', 'nm0021728'],
 ['nm0764762', 'nm0158101'],
 ['nm0764762', 'nm0004437'],
 ['nm0764762', 'nm0003501'],
 ['nm0764762', 'nm0453520'],
 ['nm0764762', 'nm0654710'],
 ['nm0045119', 'nm0893449'],
 ['nm0045119', 'nm1894124'],
 ['nm0045119', 'nm0415549'],
 ['nm0045119', 'nm1006879'],
 ['nm0045119', 'nm0793813'],
 ['nm0045119', 'nm0482320'],
 ['nm0045119', 'nm0659173'],
 ['nm0045119', 'nm0798827'],
 ['nm0045119', 'nm0688093'],
 ['nm0045119', 'nm0474820'],
 ['nm0045119', 'nm0706691'],
 ['nm0045119', 'nm0374974'],
 ['nm0045119', 'nm0004417'],
 ['nm0045119', 'nm0046850'],
 ['nm0045119', 'nm0004467'],
 ['nm0045119', 'nm0222432'],
 ['nm0045119', 'nm0080173'],
 ['nm0045119', 'nm0006369'],
 ['nm0045119', 'nm0154164'],
 ['nm0045119', 'nm0695177'],
 ['nm0045119', 'nm1066548'],
 ['nm0045119', 'nm0623427'],
 ['nm0045119', 'nm0619107'],
 ['nm0045119', 'nm0159159'],
 ['nm0045119', 'nm0619309'],
 ['nm0045119', 'nm0035067'],
 ['nm0045119', 'nm0001000'],
 ['nm0045119', 'nm0000465'],
 ['nm0045119', 'nm0695199'],
 ['nm0045119', 'nm0993695'],
 ['nm0045119', 'nm0417314'],
 ['nm0045119', 'nm0451600'],
 ['nm0045119', 'nm0315553'],
 ['nm0045119', 'nm1066229'],
 ['nm0045119', 'nm0352032'],
 ['nm0045119', 'nm3183374'],
 ['nm0045119', 'nm0006982'],
 ['nm0045119', 'nm0613417'],
 ['nm0045119', 'nm0304262'],
 ['nm0045119', 'nm0648803'],
 ['nm0045119', 'nm1001108'],
 ['nm0045119', 'nm0004660'],
 ['nm0045119', 'nm0419707'],
 ['nm0045119', 'nm0004429'],
 ['nm0045119', 'nm0023173'],
 ['nm0045119', 'nm0419653'],
 ['nm0045119', 'nm0246703'],
 ['nm0045119', 'nm1352627'],
 ['nm0045119', 'nm0019382'],
 ['nm0045119', 'nm0482285'],
 ['nm0045119', 'nm0534867'],
 ['nm0045119', 'nm0004463'],
 ['nm0045119', 'nm2366585'],
 ['nm0045119', 'nm0619779'],
 ['nm0045119', 'nm0103977'],
 ['nm0045119', 'nm0305182'],
 ['nm0045119', 'nm0261738'],
 ['nm0045119', 'nm0007123'],
 ['nm0045119', 'nm0820286'],
 ['nm0045119', 'nm0659250'],
 ['nm0045119', 'nm0420092'],
 ['nm0045119', 'nm0453523'],
 ['nm0045119', 'nm0747131'],
 ['nm0045119', 'nm0347953'],
 ['nm0045119', 'nm0367928'],
 ['nm0045119', 'nm0007106'],
 ['nm0045119', 'nm0000616'],
 ['nm0045119', 'nm7390393'],
 ['nm0045119', 'nm0149822'],
 ['nm0045119', 'nm0419685'],
 ['nm0045119', 'nm0837797'],
 ['nm0045119', 'nm2147526'],
 ['nm0045119', 'nm0764298'],
 ['nm0045119', 'nm0595934'],
 ['nm0045119', 'nm0739418'],
 ['nm0045119', 'nm0433884'],
 ['nm0045119', 'nm0033136'],
 ['nm0045119', 'nm0667985'],
 ['nm0045119', 'nm0021728'],
 ['nm0045119', 'nm0158101'],
 ['nm0045119', 'nm0004437'],
 ['nm0045119', 'nm0003501'],
 ['nm0045119', 'nm0453520'],
 ['nm0045119', 'nm0654710'],
 ['nm0893449', 'nm1894124'],
 ['nm0893449', 'nm0415549'],
 ['nm0893449', 'nm1006879'],
 ['nm0893449', 'nm0793813'],
 ['nm0893449', 'nm0482320'],
 ['nm0893449', 'nm0659173'],
 ['nm0893449', 'nm0798827'],
 ['nm0893449', 'nm0688093'],
 ['nm0893449', 'nm0474820'],
 ['nm0893449', 'nm0706691'],
 ['nm0893449', 'nm0374974'],
 ['nm0893449', 'nm0004417'],
 ['nm0893449', 'nm0046850'],
 ['nm0893449', 'nm0004467'],
 ['nm0893449', 'nm0222432'],
 ['nm0893449', 'nm0080173'],
 ['nm0893449', 'nm0006369'],
 ['nm0893449', 'nm0154164'],
 ['nm0893449', 'nm0695177'],
 ['nm0893449', 'nm1066548'],
 ['nm0893449', 'nm0623427'],
 ['nm0893449', 'nm0619107'],
 ['nm0893449', 'nm0159159'],
 ['nm0893449', 'nm0619309'],
 ['nm0893449', 'nm0035067'],
 ['nm0893449', 'nm0001000'],
 ['nm0893449', 'nm0000465'],
 ['nm0893449', 'nm0695199'],
 ['nm0893449', 'nm0993695'],
 ['nm0893449', 'nm0417314'],
 ['nm0893449', 'nm0451600'],
 ['nm0893449', 'nm0315553'],
 ['nm0893449', 'nm1066229'],
 ['nm0893449', 'nm0352032'],
 ['nm0893449', 'nm3183374'],
 ['nm0893449', 'nm0006982'],
 ['nm0893449', 'nm0613417'],
 ['nm0893449', 'nm0304262'],
 ['nm0893449', 'nm0648803'],
 ['nm0893449', 'nm1001108'],
 ['nm0893449', 'nm0004660'],
 ['nm0893449', 'nm0419707'],
 ['nm0893449', 'nm0004429'],
 ['nm0893449', 'nm0023173'],
 ['nm0893449', 'nm0419653'],
 ['nm0893449', 'nm0246703'],
 ['nm0893449', 'nm1352627'],
 ['nm0893449', 'nm0019382'],
 ['nm0893449', 'nm0482285'],
 ['nm0893449', 'nm0534867'],
 ['nm0893449', 'nm0004463'],
 ['nm0893449', 'nm2366585'],
 ['nm0893449', 'nm0619779'],
 ['nm0893449', 'nm0103977'],
 ['nm0893449', 'nm0305182'],
 ['nm0893449', 'nm0261738'],
 ['nm0893449', 'nm0007123'],
 ['nm0893449', 'nm0820286'],
 ['nm0893449', 'nm0659250'],
 ['nm0893449', 'nm0420092'],
 ['nm0893449', 'nm0453523'],
 ['nm0893449', 'nm0747131'],
 ['nm0893449', 'nm0347953'],
 ['nm0893449', 'nm0367928'],
 ['nm0893449', 'nm0007106'],
 ['nm0893449', 'nm0000616'],
 ['nm0893449', 'nm7390393'],
 ['nm0893449', 'nm0149822'],
 ['nm0893449', 'nm0419685'],
 ['nm0893449', 'nm0837797'],
 ['nm0893449', 'nm2147526'],
 ['nm0893449', 'nm0764298'],
 ['nm0893449', 'nm0595934'],
 ['nm0893449', 'nm0739418'],
 ['nm0893449', 'nm0433884'],
 ['nm0893449', 'nm0033136'],
 ['nm0893449', 'nm0667985'],
 ['nm0893449', 'nm0021728'],
 ['nm0893449', 'nm0158101'],
 ['nm0893449', 'nm0004437'],
 ['nm0893449', 'nm0003501'],
 ['nm0893449', 'nm0453520'],
 ['nm0893449', 'nm0654710'],
 ['nm1894124', 'nm0415549'],
 ['nm1894124', 'nm1006879'],
 ['nm1894124', 'nm0793813'],
 ['nm1894124', 'nm0482320'],
 ['nm1894124', 'nm0659173'],
 ['nm1894124', 'nm0798827'],
 ['nm1894124', 'nm0688093'],
 ['nm1894124', 'nm0474820'],
 ['nm1894124', 'nm0706691'],
 ['nm1894124', 'nm0374974'],
 ['nm1894124', 'nm0004417'],
 ['nm1894124', 'nm0046850'],
 ['nm1894124', 'nm0004467'],
 ['nm1894124', 'nm0222432'],
 ['nm1894124', 'nm0080173'],
 ['nm1894124', 'nm0006369'],
 ['nm1894124', 'nm0154164'],
 ['nm1894124', 'nm0695177'],
 ['nm1894124', 'nm1066548'],
 ['nm1894124', 'nm0623427'],
 ['nm1894124', 'nm0619107'],
 ['nm1894124', 'nm0159159'],
 ['nm1894124', 'nm0619309'],
 ['nm1894124', 'nm0035067'],
 ['nm1894124', 'nm0001000'],
 ['nm1894124', 'nm0000465'],
 ['nm1894124', 'nm0695199'],
 ['nm1894124', 'nm0993695'],
 ['nm1894124', 'nm0417314'],
 ['nm1894124', 'nm0451600'],
 ['nm1894124', 'nm0315553'],
 ['nm1894124', 'nm1066229'],
 ['nm1894124', 'nm0352032'],
 ['nm1894124', 'nm3183374'],
 ['nm1894124', 'nm0006982'],
 ['nm1894124', 'nm0613417'],
 ['nm1894124', 'nm0304262'],
 ['nm1894124', 'nm0648803'],
 ['nm1894124', 'nm1001108'],
 ['nm1894124', 'nm0004660'],
 ['nm1894124', 'nm0419707'],
 ['nm1894124', 'nm0004429'],
 ['nm1894124', 'nm0023173'],
 ['nm1894124', 'nm0419653'],
 ['nm1894124', 'nm0246703'],
 ['nm1894124', 'nm1352627'],
 ['nm1894124', 'nm0019382'],
 ['nm1894124', 'nm0482285'],
 ['nm1894124', 'nm0534867'],
 ['nm1894124', 'nm0004463'],
 ['nm1894124', 'nm2366585'],
 ['nm1894124', 'nm0619779'],
 ['nm1894124', 'nm0103977'],
 ['nm1894124', 'nm0305182'],
 ['nm1894124', 'nm0261738'],
 ['nm1894124', 'nm0007123'],
 ['nm1894124', 'nm0820286'],
 ['nm1894124', 'nm0659250'],
 ['nm1894124', 'nm0420092'],
 ['nm1894124', 'nm0453523'],
 ['nm1894124', 'nm0747131'],
 ['nm1894124', 'nm0347953'],
 ['nm1894124', 'nm0367928'],
 ['nm1894124', 'nm0007106'],
 ['nm1894124', 'nm0000616'],
 ['nm1894124', 'nm7390393'],
 ['nm1894124', 'nm0149822'],
 ['nm1894124', 'nm0419685'],
 ['nm1894124', 'nm0837797'],
 ['nm1894124', 'nm2147526'],
 ['nm1894124', 'nm0764298'],
 ['nm1894124', 'nm0595934'],
 ['nm1894124', 'nm0739418'],
 ['nm1894124', 'nm0433884'],
 ['nm1894124', 'nm0033136'],
 ['nm1894124', 'nm0667985'],
 ['nm1894124', 'nm0021728'],
 ['nm1894124', 'nm0158101'],
 ['nm1894124', 'nm0004437'],
 ['nm1894124', 'nm0003501'],
 ['nm1894124', 'nm0453520'],
 ['nm1894124', 'nm0654710'],
 ['nm0415549', 'nm1006879'],
 ['nm0415549', 'nm0793813'],
 ['nm0415549', 'nm0482320'],
 ['nm0415549', 'nm0659173'],
 ['nm0415549', 'nm0798827'],
 ['nm0415549', 'nm0688093'],
 ['nm0415549', 'nm0474820'],
 ['nm0415549', 'nm0706691'],
 ['nm0415549', 'nm0374974'],
 ['nm0415549', 'nm0004417'],
 ['nm0415549', 'nm0046850'],
 ['nm0415549', 'nm0004467'],
 ['nm0415549', 'nm0222432'],
 ['nm0415549', 'nm0080173'],
 ['nm0415549', 'nm0006369'],
 ['nm0415549', 'nm0154164'],
 ['nm0415549', 'nm0695177'],
 ['nm0415549', 'nm1066548'],
 ['nm0415549', 'nm0623427'],
 ['nm0415549', 'nm0619107'],
 ['nm0415549', 'nm0159159'],
 ['nm0415549', 'nm0619309'],
 ['nm0415549', 'nm0035067'],
 ['nm0415549', 'nm0001000'],
 ['nm0415549', 'nm0000465'],
 ['nm0415549', 'nm0695199'],
 ['nm0415549', 'nm0993695'],
 ['nm0415549', 'nm0417314'],
 ['nm0415549', 'nm0451600'],
 ['nm0415549', 'nm0315553'],
 ['nm0415549', 'nm1066229'],
 ['nm0415549', 'nm0352032'],
 ['nm0415549', 'nm3183374'],
 ['nm0415549', 'nm0006982'],
 ['nm0415549', 'nm0613417'],
 ['nm0415549', 'nm0304262'],
 ['nm0415549', 'nm0648803'],
 ['nm0415549', 'nm1001108'],
 ['nm0415549', 'nm0004660'],
 ['nm0415549', 'nm0419707'],
 ['nm0415549', 'nm0004429'],
 ['nm0415549', 'nm0023173'],
 ['nm0415549', 'nm0419653'],
 ['nm0415549', 'nm0246703'],
 ['nm0415549', 'nm1352627'],
 ['nm0415549', 'nm0019382'],
 ['nm0415549', 'nm0482285'],
 ['nm0415549', 'nm0534867'],
 ['nm0415549', 'nm0004463'],
 ['nm0415549', 'nm2366585'],
 ['nm0415549', 'nm0619779'],
 ['nm0415549', 'nm0103977'],
 ['nm0415549', 'nm0305182'],
 ['nm0415549', 'nm0261738'],
 ['nm0415549', 'nm0007123'],
 ['nm0415549', 'nm0820286'],
 ['nm0415549', 'nm0659250'],
 ['nm0415549', 'nm0420092'],
 ['nm0415549', 'nm0453523'],
 ['nm0415549', 'nm0747131'],
 ['nm0415549', 'nm0347953'],
 ['nm0415549', 'nm0367928'],
 ['nm0415549', 'nm0007106'],
 ['nm0415549', 'nm0000616'],
 ['nm0415549', 'nm7390393'],
 ['nm0415549', 'nm0149822'],
 ['nm0415549', 'nm0419685'],
 ['nm0415549', 'nm0837797'],
 ['nm0415549', 'nm2147526'],
 ['nm0415549', 'nm0764298'],
 ['nm0415549', 'nm0595934'],
 ['nm0415549', 'nm0739418'],
 ['nm0415549', 'nm0433884'],
 ['nm0415549', 'nm0033136'],
 ['nm0415549', 'nm0667985'],
 ['nm0415549', 'nm0021728'],
 ['nm0415549', 'nm0158101'],
 ['nm0415549', 'nm0004437'],
 ['nm0415549', 'nm0003501'],
 ['nm0415549', 'nm0453520'],
 ['nm0415549', 'nm0654710'],
 ['nm1006879', 'nm0793813'],
 ['nm1006879', 'nm0482320'],
 ['nm1006879', 'nm0659173'],
 ['nm1006879', 'nm0798827'],
 ['nm1006879', 'nm0688093'],
 ['nm1006879', 'nm0474820'],
 ['nm1006879', 'nm0706691'],
 ['nm1006879', 'nm0374974'],
 ['nm1006879', 'nm0004417'],
 ['nm1006879', 'nm0046850'],
 ['nm1006879', 'nm0004467'],
 ['nm1006879', 'nm0222432'],
 ['nm1006879', 'nm0080173'],
 ['nm1006879', 'nm0006369'],
 ['nm1006879', 'nm0154164'],
 ['nm1006879', 'nm0695177'],
 ['nm1006879', 'nm1066548'],
 ['nm1006879', 'nm0623427'],
 ['nm1006879', 'nm0619107'],
 ['nm1006879', 'nm0159159'],
 ['nm1006879', 'nm0619309'],
 ['nm1006879', 'nm0035067'],
 ['nm1006879', 'nm0001000'],
 ['nm1006879', 'nm0000465'],
 ['nm1006879', 'nm0695199'],
 ['nm1006879', 'nm0993695'],
 ['nm1006879', 'nm0417314'],
 ['nm1006879', 'nm0451600'],
 ['nm1006879', 'nm0315553'],
 ['nm1006879', 'nm1066229'],
 ['nm1006879', 'nm0352032'],
 ['nm1006879', 'nm3183374'],
 ['nm1006879', 'nm0006982'],
 ['nm1006879', 'nm0613417'],
 ['nm1006879', 'nm0304262'],
 ['nm1006879', 'nm0648803'],
 ['nm1006879', 'nm1001108'],
 ['nm1006879', 'nm0004660'],
 ['nm1006879', 'nm0419707'],
 ['nm1006879', 'nm0004429'],
 ['nm1006879', 'nm0023173'],
 ['nm1006879', 'nm0419653'],
 ['nm1006879', 'nm0246703'],
 ['nm1006879', 'nm1352627'],
 ['nm1006879', 'nm0019382'],
 ['nm1006879', 'nm0482285'],
 ['nm1006879', 'nm0534867'],
 ['nm1006879', 'nm0004463'],
 ['nm1006879', 'nm2366585'],
 ['nm1006879', 'nm0619779'],
 ['nm1006879', 'nm0103977'],
 ['nm1006879', 'nm0305182'],
 ['nm1006879', 'nm0261738'],
 ['nm1006879', 'nm0007123'],
 ['nm1006879', 'nm0820286'],
 ['nm1006879', 'nm0659250'],
 ['nm1006879', 'nm0420092'],
 ['nm1006879', 'nm0453523'],
 ['nm1006879', 'nm0747131'],
 ['nm1006879', 'nm0347953'],
 ['nm1006879', 'nm0367928'],
 ['nm1006879', 'nm0007106'],
 ['nm1006879', 'nm0000616'],
 ['nm1006879', 'nm7390393'],
 ['nm1006879', 'nm0149822'],
 ['nm1006879', 'nm0419685'],
 ['nm1006879', 'nm0837797'],
 ['nm1006879', 'nm2147526'],
 ['nm1006879', 'nm0764298'],
 ['nm1006879', 'nm0595934'],
 ['nm1006879', 'nm0739418'],
 ['nm1006879', 'nm0433884'],
 ['nm1006879', 'nm0033136'],
 ['nm1006879', 'nm0667985'],
 ['nm1006879', 'nm0021728'],
 ['nm1006879', 'nm0158101'],
 ['nm1006879', 'nm0004437'],
 ['nm1006879', 'nm0003501'],
 ['nm1006879', 'nm0453520'],
 ['nm1006879', 'nm0654710'],
 ['nm0793813', 'nm0482320'],
 ['nm0793813', 'nm0659173'],
 ['nm0793813', 'nm0798827'],
 ['nm0793813', 'nm0688093'],
 ['nm0793813', 'nm0474820'],
 ['nm0793813', 'nm0706691'],
 ['nm0793813', 'nm0374974'],
 ['nm0793813', 'nm0004417'],
 ['nm0793813', 'nm0046850'],
 ['nm0793813', 'nm0004467'],
 ['nm0793813', 'nm0222432'],
 ['nm0793813', 'nm0080173'],
 ['nm0793813', 'nm0006369'],
 ['nm0793813', 'nm0154164'],
 ['nm0793813', 'nm0695177'],
 ['nm0793813', 'nm1066548'],
 ['nm0793813', 'nm0623427'],
 ['nm0793813', 'nm0619107'],
 ['nm0793813', 'nm0159159'],
 ['nm0793813', 'nm0619309'],
 ['nm0793813', 'nm0035067'],
 ['nm0793813', 'nm0001000'],
 ['nm0793813', 'nm0000465'],
 ['nm0793813', 'nm0695199'],
 ['nm0793813', 'nm0993695'],
 ['nm0793813', 'nm0417314'],
 ['nm0793813', 'nm0451600'],
 ['nm0793813', 'nm0315553'],
 ['nm0793813', 'nm1066229'],
 ['nm0793813', 'nm0352032'],
 ['nm0793813', 'nm3183374'],
 ['nm0793813', 'nm0006982'],
 ['nm0793813', 'nm0613417'],
 ['nm0793813', 'nm0304262'],
 ['nm0793813', 'nm0648803'],
 ['nm0793813', 'nm1001108'],
 ['nm0793813', 'nm0004660'],
 ['nm0793813', 'nm0419707'],
 ['nm0793813', 'nm0004429'],
 ['nm0793813', 'nm0023173'],
 ['nm0793813', 'nm0419653'],
 ['nm0793813', 'nm0246703'],
 ['nm0793813', 'nm1352627'],
 ['nm0793813', 'nm0019382'],
 ['nm0793813', 'nm0482285'],
 ['nm0793813', 'nm0534867'],
 ['nm0793813', 'nm0004463'],
 ['nm0793813', 'nm2366585'],
 ['nm0793813', 'nm0619779'],
 ['nm0793813', 'nm0103977'],
 ['nm0793813', 'nm0305182'],
 ['nm0793813', 'nm0261738'],
 ['nm0793813', 'nm0007123'],
 ['nm0793813', 'nm0820286'],
 ['nm0793813', 'nm0659250'],
 ['nm0793813', 'nm0420092'],
 ['nm0793813', 'nm0453523'],
 ['nm0793813', 'nm0747131'],
 ['nm0793813', 'nm0347953'],
 ['nm0793813', 'nm0367928'],
 ['nm0793813', 'nm0007106'],
 ['nm0793813', 'nm0000616'],
 ['nm0793813', 'nm7390393'],
 ['nm0793813', 'nm0149822'],
 ['nm0793813', 'nm0419685'],
 ['nm0793813', 'nm0837797'],
 ['nm0793813', 'nm2147526'],
 ['nm0793813', 'nm0764298'],
 ['nm0793813', 'nm0595934'],
 ['nm0793813', 'nm0739418'],
 ['nm0793813', 'nm0433884'],
 ['nm0793813', 'nm0033136'],
 ['nm0793813', 'nm0667985'],
 ['nm0793813', 'nm0021728'],
 ['nm0793813', 'nm0158101'],
 ['nm0793813', 'nm0004437'],
 ['nm0793813', 'nm0003501'],
 ['nm0793813', 'nm0453520'],
 ['nm0793813', 'nm0654710'],
 ['nm0482320', 'nm0659173'],
 ['nm0482320', 'nm0798827'],
 ['nm0482320', 'nm0688093'],
 ['nm0482320', 'nm0474820'],
 ['nm0482320', 'nm0706691'],
 ['nm0482320', 'nm0374974'],
 ['nm0482320', 'nm0004417'],
 ['nm0482320', 'nm0046850'],
 ['nm0482320', 'nm0004467'],
 ['nm0482320', 'nm0222432'],
 ['nm0482320', 'nm0080173'],
 ['nm0482320', 'nm0006369'],
 ['nm0482320', 'nm0154164'],
 ['nm0482320', 'nm0695177'],
 ['nm0482320', 'nm1066548'],
 ['nm0482320', 'nm0623427'],
 ['nm0482320', 'nm0619107'],
 ['nm0482320', 'nm0159159'],
 ['nm0482320', 'nm0619309'],
 ['nm0482320', 'nm0035067'],
 ['nm0482320', 'nm0001000'],
 ['nm0482320', 'nm0000465'],
 ['nm0482320', 'nm0695199'],
 ['nm0482320', 'nm0993695'],
 ['nm0482320', 'nm0417314'],
 ['nm0482320', 'nm0451600'],
 ['nm0482320', 'nm0315553'],
 ['nm0482320', 'nm1066229'],
 ['nm0482320', 'nm0352032'],

# Demo FP Growht

In [ ]:
from pyspark.ml.fpm import FPGrowth
fpGrowth = FPGrowth(itemsCol="nconsts", minSupport=0.0001, minConfidence=0.0001)
model = fpGrowth.fit(basket_data)

In [ ]:
# Display frequent itemsets.
model.freqItemsets.show()
items = model.freqItemsets

+--------------------+----+
|               items|freq|
+--------------------+----+
|         [nm1388202]| 153|
|         [nm1246350]|  46|
|         [nm0430646]| 120|
|[nm0430646, nm000...|  66|
|         [nm1800631]| 104|
|         [nm0260020]|  62|
|         [nm0924307]|  59|
|         [nm0870317]|  45|
|         [nm0011964]|  57|
|         [nm1066974]|  43|
|         [nm0320760]|  92|
|         [nm0575655]|  42|
|         [nm0022081]|  84|
|         [nm0576762]|  78|
|         [nm0463590]|  55|
|         [nm0350524]|  53|
|         [nm0215260]|  41|
|         [nm0457554]|  51|
|         [nm0640307]|  40|
|         [nm0007102]|  73|
+--------------------+----+
only showing top 20 rows

In [ ]:
# Display generated association rules.
model.associationRules.show()
rules = model.associationRules

+--------------------+-----------+-------------------+------------------+--------------------+
|          antecedent| consequent|         confidence|              lift|             support|
+--------------------+-----------+-------------------+------------------+--------------------+
|[nm1467390, nm062...|[nm0006982]| 0.7333333333333333| 493.4719088319088|1.117727152640884...|
|         [nm1720239]|[nm0628736]|          0.3359375| 905.7795376712329|1.092324262808137...|
|         [nm1720239]|[nm1908630]|              0.375| 1190.491935483871|1.219338711971873...|
|         [nm0103977]|[nm0019382]|0.10150375939849623|175.25247328848437|2.057634076452537...|
|         [nm0103977]|[nm0004469]|0.06892230576441102|150.73155109997214|1.397158940801105...|
|         [nm0103977]|[nm0080238]|0.06140350877192982| 137.3401116427432|1.244741601804621...|
|         [nm0103977]|[nm0707399]|0.06766917293233082|163.42561926288113|1.371756050968358...|
|         [nm0620630]|[nm0707901]| 0.2903225806451613| 828.1683029453017|1.371756050968358...|
|         [nm0620630]|[nm0304262]| 0.2903225806451613|353.83042045341057|1.371756050968358...|
|         [nm0620630]|[nm0619309]|0.23655913978494625|297.51733140952973|1.117727152640884...|
|         [nm7390393]|[nm0304262]|0.17746478873239438|216.28507391095803|1.600382059463084...|
|         [nm7390393]|[nm0619309]|0.17746478873239438|223.19514017009408|1.600382059463084...|
|         [nm2384746]|[nm2367854]| 0.4025974025974026|2058.2452352841965|1.574979169630337E-4|
|         [nm2384746]|[nm2366585]| 0.6233766233766234|1185.4876717485413|2.438677423943747...|
|         [nm2384746]|[nm1698868]|  0.538961038961039|1205.4843565525384|2.108439856118032E-4|
|         [nm0007123]|[nm0482320]|0.10761154855643044|123.14515046084355|1.041518483142642...|
|         [nm0619758]|[nm0619779]| 0.3333333333333333|504.68717948717944|1.041518483142642...|
|         [nm0619758]|[nm0623427]| 0.3252032520325203|292.27902142035117|1.016115593309895E-4|
|         [nm0619758]|[nm0006982]| 0.3902439024390244| 262.6014592453617|1.219338711971873...|
|         [nm0246703]|[nm1047761]|0.10485933503836317|352.80774695608454|1.041518483142642...|
+--------------------+-----------+-------------------+------------------+--------------------+
only showing top 20 rows

In [ ]:
# transform examines the input items against all the association rules and summarize the consequents as prediction
model.transform(basket_data).show()
transformed = model.transform(basket_data)

+---------+--------------------+----------+
|   tconst|             nconsts|prediction|
+---------+--------------------+----------+
|tt0000009|[nm0063086, nm018...|        []|
|tt0000335|[nm1010955, nm101...|        []|
|tt0000502|[nm0215752, nm025...|        []|
|tt0000574|[nm0846887, nm084...|        []|
|tt0000615|[nm3071427, nm058...|        []|
|tt0000630|         [nm0624446]|        []|
|tt0000676|[nm0097421, nm014...|        []|
|tt0000679|[nm0000875, nm012...|        []|
|tt0000793|         [nm0691995]|        []|
|tt0000862|[nm5289318, nm528...|        []|
|tt0000886|         [nm0609814]|        []|
|tt0000891|[nm0727622, nm081...|        []|
|tt0000941|[nm0034453, nm014...|        []|
|tt0000947|[nm0488932, nm081...|        []|
|tt0000992|         [nm0119164]|        []|
|tt0001049|[nm1834127, nm010...|        []|
|tt0001101|         [nm0923594]|        []|
|tt0001112|[nm0135493, nm014...|        []|
|tt0001115|[nm0630641, nm006...|        []|
|tt0001116|[nm0736379, nm006...|        []|
+---------+--------------------+----------+
only showing top 20 rows

In [ ]:
import pandas as pd

Lets try to load some data in a Pandas Dataframe

In [ ]:
actors_cols = {
    "original": [
        "nconst",  # actor unique id
        "knownForTitles"  # move he/she is in
    ],
    "renamed": ["actorId", "titles"]
}

actors_df = pd.read_csv(
    "name.basics.tsv.gz",
    compression="gzip",
    sep='\t',
    usecols=actors_cols["original"]
)

# clean and pre-process
actors_df.columns = actors_cols["renamed"]
actors_df.drop(actors_df[actors_df.titles == "\\N"].index, inplace=True)
actors_df.titles = actors_df.titles.apply(lambda x: x.split(","))

In [ ]:
actors_df

           actorId                                        titles
0        nm0000001  [tt0050419, tt0053137, tt0043044, tt0072308]
1        nm0000002  [tt0117057, tt0037382, tt0071877, tt0038355]
2        nm0000003  [tt0049189, tt0059956, tt0054452, tt0057345]
3        nm0000004  [tt0078723, tt0080455, tt0072562, tt0077975]
4        nm0000005  [tt0050986, tt0083922, tt0069467, tt0050976]
...            ...                                           ...
9711011  nm9993708                        [tt9046122, tt8744286]
9711012  nm9993709                                   [tt8744286]
9711016  nm9993713                                   [tt8325250]
9711017  nm9993714                                   [tt2455546]
9711019  nm9993717                                   [tt8736744]

[8019620 rows x 2 columns]

In [ ]:
def apriori(transactions, support_threshold):
    singleton_counter = []
    lookup_index_table = {}
    reverse_lookup_index_table = {}

    # count singletons
    for bucket in transactions:
        for elem in bucket:
            if elem not in lookup_index_table:
                # The newly discovered element is appended on the tail of the array counter
                lookup_index_table[elem] = len(singleton_counter)
                reverse_lookup_index_table[len(singleton_counter)] = elem
                singleton_counter.append(0)

            idx = lookup_index_table[elem]
            singleton_counter[idx] += 1

    frequent_items_table = [i for i,v in enumerate(singleton_counter) if v > support_threshold]

    # count pairs
    pair_counter = {}
    for bucket in transactions:
        frequent_items = [lookup_index_table[item] for item in bucket 
                          if lookup_index_table[item] in frequent_items_table]

        for x in frequent_items:
            for y in frequent_items:
                if x<y:
                    pair_counter[(x,y)] = pair_counter.get((x,y), 0) +1 

    return [list(map(lambda x: reverse_lookup_index_table[x], i)) for i,c in pair_counter.items() 
            if c > support_threshold]

In [ ]:
# test
rules = apriori(actors_df.titles, 300)

movies_df = pd.read_csv("title.basics.tsv.gz", compression='gzip', sep='\t')
from IPython.display import display

for x,y in rules:
    display(movies_df.loc[((movies_df.tconst == x) | (movies_df.tconst == y))])

/home/anto/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
117965,tt0120737,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0,2001,\N,178,"Adventure,Drama,Fantasy"
161829,tt0167260,movie,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,0,2003,\N,201,"Adventure,Drama,Fantasy"

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
161829,tt0167260,movie,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,0,2003,\N,201,"Adventure,Drama,Fantasy"
161830,tt0167261,movie,The Lord of the Rings: The Two Towers,The Lord of the Rings: The Two Towers,0,2002,\N,179,"Adventure,Drama,Fantasy"

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
117965,tt0120737,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0,2001,\N,178,"Adventure,Drama,Fantasy"
161830,tt0167261,movie,The Lord of the Rings: The Two Towers,The Lord of the Rings: The Two Towers,0,2002,\N,179,"Adventure,Drama,Fantasy"

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
3674370,tt4154756,movie,Avengers: Infinity War,Avengers: Infinity War,0,2018,\N,149,"Action,Adventure,Sci-Fi"
3674389,tt4154796,movie,Avengers: Endgame,Avengers: Endgame,0,2019,\N,181,"Action,Adventure,Drama"

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
806227,tt0831387,movie,Godzilla,Godzilla,0,2014,\N,123,"Action,Adventure,Sci-Fi"
2570231,tt2015381,movie,Guardians of the Galaxy,Guardians of the Galaxy,0,2014,\N,121,"Action,Adventure,Comedy"

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
2973307,tt2527336,movie,Star Wars: Episode VIII - The Last Jedi,Star Wars: Episode VIII - The Last Jedi,0,2017,\N,152,"Action,Adventure,Fantasy"
3492744,tt3748528,movie,Rogue One: A Star Wars Story,Rogue One,0,2016,\N,133,"Action,Adventure,Sci-Fi"

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
2958034,tt2488496,movie,Star Wars: Episode VII - The Force Awakens,Star Wars: Episode VII - The Force Awakens,0,2015,\N,138,"Action,Adventure,Sci-Fi"
3492744,tt3748528,movie,Rogue One: A Star Wars Story,Rogue One,0,2016,\N,133,"Action,Adventure,Sci-Fi"

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
3492744,tt3748528,movie,Rogue One: A Star Wars Story,Rogue One,0,2016,\N,133,"Action,Adventure,Sci-Fi"
3505845,tt3778644,movie,Solo: A Star Wars Story,Solo: A Star Wars Story,0,2018,\N,135,"Action,Adventure,Sci-Fi"

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
2973307,tt2527336,movie,Star Wars: Episode VIII - The Last Jedi,Star Wars: Episode VIII - The Last Jedi,0,2017,\N,152,"Action,Adventure,Fantasy"
3505845,tt3778644,movie,Solo: A Star Wars Story,Solo: A Star Wars Story,0,2018,\N,135,"Action,Adventure,Sci-Fi"

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
2387413,tt1825683,movie,Black Panther,Black Panther,0,2018,\N,134,"Action,Adventure,Sci-Fi"
3674389,tt4154796,movie,Avengers: Endgame,Avengers: Endgame,0,2019,\N,181,"Action,Adventure,Drama"

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
2508312,tt1951265,movie,The Hunger Games: Mockingjay - Part 1,The Hunger Games: Mockingjay - Part 1,0,2014,\N,123,"Action,Adventure,Sci-Fi"
2508313,tt1951266,movie,The Hunger Games: Mockingjay - Part 2,The Hunger Games: Mockingjay - Part 2,0,2015,\N,137,"Action,Adventure,Sci-Fi"

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
460904,tt0478970,movie,Ant-Man,Ant-Man,0,2015,\N,117,"Action,Adventure,Comedy"
2570231,tt2015381,movie,Guardians of the Galaxy,Guardians of the Galaxy,0,2014,\N,121,"Action,Adventure,Comedy"

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
190776,tt0198093,tvSeries,El comisario,El comisario,0,1999,2009,60,"Action,Adventure,Crime"
284942,tt0297174,tvSeries,Hospital Central,Hospital Central,0,2000,2012,60,"Action,Adventure,Drama"

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
116610,tt0119282,movie,Hercules,Hercules,0,1997,\N,93,"Adventure,Animation,Comedy"
220626,tt0230011,movie,Atlantis: The Lost Empire,Atlantis: The Lost Empire,0,2001,\N,95,"Action,Adventure,Animation"

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
52506,tt0053494,tvSeries,Coronation Street,Coronation Street,0,1960,\N,30,"Drama,Romance"
66734,tt0068069,tvSeries,Emmerdale,Emmerdale Farm,0,1972,\N,30,"Drama,Romance"

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
64045,tt0065323,tvSeries,NFL Monday Night Football,NFL Monday Night Football,0,1970,\N,\N,Sport
869574,tt0896893,tvSeries,NFL on FOX,NFL on FOX,0,1994,\N,\N,Sport

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
273009,tt0284702,tvSeries,Big Brother Uncut,Big Brother Uncut,0,2001,2013,60,Reality-TV
275403,tt0287196,tvSeries,Big Brother: Australia,Big Brother,0,2001,2014,25,"Game-Show,Music,Reality-TV"

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
86667,tt0088580,tvSeries,Neighbours,Neighbours,0,1985,\N,22,"Drama,Romance"
106362,tt0108709,tvSeries,Blue Heelers,Blue Heelers,0,1994,2006,60,"Action,Crime,Drama"

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
64045,tt0065323,tvSeries,NFL Monday Night Football,NFL Monday Night Football,0,1970,\N,\N,Sport
391224,tt0407424,tvSeries,The NFL on NBC,The NFL on NBC,0,1965,1998,\N,Sport

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
3160174,tt2974350,videoGame,Super Smash Bros. for Wii U,Dairantou sumasshu burazâzu for Wii U,0,2014,\N,\N,"Action,Adventure,Family"
3345498,tt3408266,videoGame,Super Smash Bros. for Nintendo 3DS,Dairantou sumasshu burazâzu for Nintendo 3DS,0,2014,\N,\N,"Action,Family,Fantasy"

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
64045,tt0065323,tvSeries,NFL Monday Night Football,NFL Monday Night Football,0,1970,\N,\N,Sport
391223,tt0407423,tvSeries,The NFL on CBS,The NFL on CBS,0,1956,\N,\N,Sport